<!-- Saslesmen ledger list -->
<div class="container">

  <div class="row mt-2 mb-3">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h2 class="_head01">Salesman <span> Ledger</span></h2>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <ol class="breadcrumb">
        <li><a href="#"><span>Salesman</span></a></li>
        <li><span>Ledger</span></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div *ngIf="loading" class="col-md-12">
        <app-loader-white></app-loader-white>
      </div>
      <div class="card" *ngIf="!loading">
        <div class="header addPR-head">
          <div class="float-left">
            <h3>Select Month </h3>
          </div>
          <div class="_PR_filter datefiled">
            <div class="form-group mb-0" style="height: auto">
              <input type="month" [(ngModel)]="month" class="form-control" autocomplete="off">
            </div>
          </div>

          <div class="float-left pl-20">
            <h3>Salesman </h3>
          </div>
          <div class="_PR_filter">
            <div class="form-s2">
              <ng-select class="formselect" [(ngModel)]="smSelected" (change)="smChanged()" [multiple]="false" placeholder="Select Salesman"
                name="order-booker">
                <ng-option *ngFor="let sm of salesmen" [value]="sm.id">
                  {{sm.name}} </ng-option>
              </ng-select>
            </div>
          </div>
          <button [disabled]="!month || !smSelected || loading" (click)="getLedger()" class="btn btn-primary btn-report"><i class="fa fa-search"></i>
            <span>Search</span>
          </button>
        </div>

        <div class="topstats">
          <div class="row m-0">
            <div class="col-3 pr-0">
              <div class="gary-box"><strong>Salary:</strong> <span>PKR.{{ salesman?.salary | number }}</span></div>
            </div>
            <div class="col-3 pr-0">
              <div class="gary-box"><strong>Balance:</strong> <span>PKR.{{ salesman?.balance | number }}</span></div>
            </div>
            <div class="col-3 pr-0">
              <div class="gary-box"><strong>Amount Due:</strong> <span>PKR.{{ amountDue | number }}</span></div>
            </div>
            <div class="col-3 text-right">
              <button class="btn btn-primary btn-report"><i class="fa fa-file-pdf"></i>
                <span> Generate PDF</span></button>
            </div>
          </div>
        </div>

        <div class="body">
          <table datatable [dtOptions]='dtOptions' class="table table-hover dt-responsive nowrap" id="example"
            style="width:100%">
            <thead>
              <tr>
                <th>Date</th>
                <th>Net Sale</th>
                <th>Cash Payable</th>
                <th>Cash Received</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ledger">
                <td>{{ item.date }}</td>
                <td>Rs. {{ item.net_sale | number }}</td>
                <td>Rs. {{ item.cash_payable | number }}</td>
                <td>Rs. {{ item.cash_received | number }}</td>
                <td>Rs. {{ item.balance | number }}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>
