._date-order {
  padding-left: 15px;
}
._sa-customer {
  flex: 0 0 280px;
  max-width: 280px;
  padding-right: 0;
}
.calendar-icon {
  top: 6px;
}
._add-product .addItemCell {
  width: 230px;
}
._add-product .unit-w {
  width: 130px;
}
.addItemCell2 {
  text-align: left !important;
  color: #282828 !important;
}
.AP_heading .addItemCell2 {
  color: #0038ba !important;
}
._add-product input {
  text-align: left !important;
}
._add-product .addItemCell2_input {
  text-align: left !important;
  border: solid 1px #fff !important;
  height: 25px !important;
  margin-top: -3px;
}
._add-product .addItemCell3 {
  width: 100px;
  text-align: right !important;
}
._order-del {
  right: 10px;
}
._INV-h:hover ._row-product .addItemCell2_input {
  border: solid 1px #e9e9e9 !important;
}
.ng-select .ng-select-container {
  border-radius: 0;
}
.addItemCell .ng-select .ng-select-container {
  height: 25px !important;
  min-height: 25px !important;
  border-radius: 0;
  text-transform: capitalize;
}
.addItemCell .ng-select .ng-select-container div.ng-input {
  top: 2px !important;
}
._cut-detail,
.ng-option,
.ng-select span {
  text-transform: capitalize;
}
._row-product .addItemCell3 {
  color: #282828 !important;
}
._totalBar2 ._h25 {
  height: 20px;
  color: #282828;
  font-size: 14px;
}
._totalBar2 .width-t {
  width: 196px;
  text-align: right !important;
}
._totalBar2 .addItemCell3 {
  font-family: "Rationale", sans-serif;
  font-size: 17px;
  line-height: 1;
}
.itemQTY {
  font-size: 12px;
  width: 70px;
  padding: 0px 5px;
  border: solid 1px #e6e6e6;
}
.itemIMG {
  width: 32px;
  height: 32px;
  border: solid 1px #e5e5e5;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-right: 5px;
  float: left;
}
.productSearch {
  position: relative;
}
.productSearch input {
  height: 32px;
  border: solid 1px #eae9e9;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 30px;
  font-size: 13px;
  letter-spacing: 1px;
}
.productSearch .fa {
  position: absolute;
  top: 8px;
  left: 8px;
  color: #b5b5b5;
}
.AddProductTable {
  padding: 0;
  margin: 0;
}
.AddProductTable tr {
  border-bottom: solid 1px #eeeeee;
}
.AddProductTable td {
  padding-bottom: 10px;
  padding-top: 10px;
}
.ProListDiv {
  padding: 0;
  display: table;
  position: relative;
}
.ProListDiv .PR_Name {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 16px;
}
.ProListDiv .PrList_img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  border: solid 1px #e0e0e0;
}
.AddProductTable .btn-default {
  padding: 5px 8px;
  font-size: 13px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -khtml-border-radius: 0;
  background: linear-gradient(90deg, #1e54d3 0%, #0038ba 100%);
  color: #fff;
  text-align: center;
  margin: 0;
  line-height: 1;
  min-width: 74px;
  letter-spacing: 1px;
  float: right;
  border: none !important;
}
.AddDetailPR {
  padding: 25px;
  font-size: 14px;
}
.AddDetailPR .form-control {
  height: 32px;
  border: solid 1px #dedede;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0px 10px;
  font-size: 13px;
  letter-spacing: 1px;
}
.AddDetailPR select {
  border-radius: 0;
  padding: 0px 10px;
  height: 32px;
  border: solid 1px #dedede;
  font-size: 14px;
}
.Action_bottom {
  z-index: 900;
}
.Action_bottom .btn {
  letter-spacing: 1px;
  font-size: 13px;
}
.se_cus-type {
  background-color: #fff;
}
._product-name {
  margin-top: 5px;
  position: relative;
  padding-right: 0px;
  color: #282828;
  font-size: 12px;
  line-height: normal;
}
.lab-promotion {
  position: absolute;
  top: -8px;
  left: -0.438rem;
  padding: 2px 6px;
  font-size: 10.5px;
  z-index: 3;
  background-color: #fed02a;
  color: #282828;
  line-height: 1;
}
.lab-promotion:before {
  border-top: 4px solid #000;
  border-left: 7px solid transparent;
  content: "";
  left: 0;
  position: absolute;
  top: 14px;
  z-index: -1;
}
.lab-promotion-l {
  position: absolute;
  top: -15px;
  left: -13px;
  padding: 1px 6px;
  font-size: 10.5px;
  z-index: 3;
  background-color: #fed02a;
  color: #282828;
  line-height: 1;
  letter-spacing: 1px;
}
.lab-promotion-l:before {
  border-top: 4px solid #000;
  border-left: 7px solid transparent;
  content: "";
  left: 0;
  position: absolute;
  top: 12px;
  z-index: -1;
}
._row-product {
  padding: 12px 0px 10px 0px !important;
}
._order-container {
  max-width: 1270px;
}
.loader {
  text-align: center;
  padding: 30px;
}
.loading {
  color: #b5b5b5;
  font-size: 24px;
  margin: 0 auto;
}
.ng-select .ng-clear-wrapper {
  display: none;
}
.custom-control-label {
  text-transform: capitalize;
}
.no-data {
  width: 100%;
  color: rgb(168, 154, 154);
  font-size: 20px;
  text-align: center;
}
.input-error {
  color: red;
  font-size: 13px;
  float: left;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.print-icon-div {
  text-align: center;
  padding: 15px;
}
.print-icon-div a {
  display: inline-block;
  border: solid 1px #e9ecef;
  padding: 15px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #282828;
  font-size: 13px;
}
.print-icon-div a:hover {
  border: solid 1px #0038ba;
  color: #0038ba;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}
.print-icon {
  filter: grayscale(1);
  width: 45px;
  opacity: 0.7;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}
.print-icon-div a:hover .print-icon {
  filter: none;
  opacity: 1;
}
.heading3 {
  margin: 0;
  font-size: 16px;
}
.select-date,
.select-date:focus {
  box-shadow: none;
  border: none;
  background-color: #f6f6f6;
  font-size: 14px;
  height: 30px;
  width: 200px;
}
.no-content {
  width: 100%;
  height: 65vh;
  display: flex;
}
.no-content .no-content-container {
  margin: auto;
  display: table;
  text-align: center;
  color: #b7b7b7;
}
.no-content .no-content-container img {
  width: 70px;
  height: 70px;
  margin: auto auto 10px auto;
  display: block;
}
