<!-- Counter Sale -->
<div id="counter-sale" class="container _order-container">
  <div class="row mt-2 mb-2">
    <div class="col-md-12">
      <h2 class="_head01 float-left">New <span>Order</span></h2>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      <div class="card p-20 top_border mb-3 _INV-h">
        <div class="row _add-customer">
          <div class="col-12">
            <div class="row">
              <div class="_sa-customer">
                <div class="form-s2">
                  <ng-select
                    [multiple]="false"
                    class="formselect"
                    [(ngModel)]="selectedEmployee"
                    (change)="getRoutes()"
                    placeholder="Select Employee"
                  >
                    <ng-option disabled>Select Employee</ng-option>
                    <ng-option
                      *ngFor="let orderBooker of orderBookers"
                      [value]="orderBooker"
                      >{{
                        orderBooker.employee_first_name +
                          " " +
                          orderBooker.employee_last_name
                      }}</ng-option
                    >
                  </ng-select>
                </div>
              </div>

              <div class="_sa-customer">
                <div class="form-s2">
                  <ng-select
                    [multiple]="false"
                    class="formselect"
                    [(ngModel)]="selectedRoute"
                    (change)="getRetailerByRoute()"
                    placeholder="Select Route"
                  >
                    <ng-option *ngIf="!selectedEmployee" disabled
                      >Select Employee First</ng-option
                    >
                    <ng-option *ngIf="selectedEmployee" disabled
                      >Select Route</ng-option
                    >
                    <ng-option *ngFor="let route of routes" [value]="route"
                      >{{ route.name }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>

              <div class="_sa-customer">
                <div class="form-s2">
                  <ng-select
                    [multiple]="false"
                    class="formselect"
                    (change)="getDiscountSlabs()"
                    [(ngModel)]="selectedRetailer"
                    placeholder="Select Retailer"
                  >
                    <!-- (change)="getDiscountSlabs()" -->

                    <ng-option disabled *ngIf="!selectedRoute"
                      >Select Route First</ng-option
                    >
                    <ng-option disabled *ngIf="selectedRoute"
                      >Select Retailer</ng-option
                    >
                    <ng-option
                      *ngFor="let retailer of retailers"
                      [value]="retailer"
                    >
                      {{ retailer.retailer_name }}</ng-option
                    >
                  </ng-select>
                </div>
              </div>

              <button
                id="productlist01"
                class="btn btn-primary ml-15"
                [disabled]="!this.selectedRetailer"
                (click)="showProductsList($event)"
              >
                Add Product
              </button>
            </div>

            <div class="_cut-detail">
              <div class="row">
                <div class="col-md-6">
                  <strong>Retailer Name: &nbsp; </strong>
                  {{ selectedRetailer ? selectedRetailer.retailer_name : "--" }}
                </div>
                <div class="col-md-6">
                  <strong>Channel Type: &nbsp; </strong>
                  {{ selectedRetailer ? selectedRetailer.type : "--" }}
                  {{
                    selectedRetailer &&
                      " (" + selectedRetailer?.segment_name + ")"
                  }}
                </div>
                <div class="col-md-6">
                  <strong>Location: &nbsp; </strong>

                  {{ selectedRetailer ? selectedRetailer?.loc : "--" }}
                </div>
                <div class="col-md-6">
                  <strong>Territory: &nbsp; </strong>
                  {{
                    selectedRetailer
                      ? selectedRetailer?.territory || "--"
                      : "--"
                  }}
                </div>
              </div>
            </div>
            <!-- <h1>Product Details</h1> -->
            <app-order-content></app-order-content>
          </div>
        </div>
      </div>
    </div>
    <div class="Action_bottom">
      <div class="container-fluid p-0">
        <div class="align-right">
          <!-- <button type="submit" class="btn btn-primary mr-2" disabled>
            <div class="spinner-border text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button> -->
          <button
            type="submit"
            class="btn btn-primary btn-cancel mr-2"
            [routerLink]="['/home']"
          >
            Cancel
          </button>
          <button class="btn btn-primary" (click)="onSaveOrder()">
            <div
              *ngIf="isSavingOrder"
              class="spinner-border text-light"
              role="status"
            >
              <span class="sr-only"></span>
            </div>
            {{ isSavingOrder ? "" : "Save Order" }}
          </button>

          <button
            class="btn btn-primary float-left mr-2"
            *ngIf="
              secondaryOrder.isShowChequeAndCreditButtons &&
              secondaryOrder.showCheckButton &&
              !secondaryOrder.isCheckAdded
            "
            id="open-modal-payment"
            data-toggle="modal"
            data-target="#exampleModal2"
            class="btn btn-primary float-left mr-2"
            (click)="onCheck()"
          >
            Add Cheque
          </button>
          <button
            class="btn btn-primary float-left mr-2 red-bg"
            *ngIf="secondaryOrder.isCheckAdded"
            (click)="onRemoveCheck()"
          >
            Remove Cheque
          </button>
          <button
            *ngIf="
              secondaryOrder.isShowChequeAndCreditButtons &&
              secondaryOrder.isShowCreditBtn &&
              !secondaryOrder.isCreditPaymentAdded
            "
            id="open-modal-payment"
            data-toggle="modal"
            data-target="#exampleModal2"
            class="btn btn-primary float-left mr-2"
            (click)="onCredit()"
          >
            Add Credit
          </button>
          <button
            *ngIf="secondaryOrder.isCreditPaymentAdded"
            class="btn btn-primary float-left red-bg"
            (click)="onRemoveCredit()"
          >
            Remove Credit
          </button>
          <button
            id="open-modal-payment"
            style="display: none"
            data-toggle="modal"
            data-target="#exampleModal2"
          >
            Show Modal
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Credit and Cheque info -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content top_border">
      <div class="modal-header" *ngIf="f.isCheck.value">
        <h5 class="modal-title" id="exampleModalLabel">
          Add <span> Cheque Information</span>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form
        [formGroup]="paymentForm"
        *ngIf="f.isCheck.value || f.isCredit.value"
      >
        <div class="col-12" *ngIf="!f.isCredit.value">
          <div id="floating-label" class="form-wrap p-0">
            <div class="row pt-10">
              <div class="col-4">
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="payment"
                    id="payment1"
                    value="full"
                    (click)="currentFullPayment(true)"
                  />
                  <label
                    class="custom-control-label"
                    style="font-size: 13px; line-height: 25px"
                    for="payment1"
                    >Full Amount</label
                  >
                </div>
              </div>
              <div class="col-4">
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="payment"
                    id="payment2"
                    value="partial"
                    (click)="currentFullPayment(false)"
                  />
                  <label
                    class="custom-control-label"
                    style="font-size: 13px; line-height: 25px"
                    for="payment2"
                    >Partial Amount</label
                  >
                </div>
              </div>
            </div>
            <div
              class="col-12 input-error"
              *ngIf="submitted && f.isfullAmount.errors"
            >
              Please select a payment method!
            </div>

            <div class="row">
              <div class="col-md-6 PT-10">
                <div class="form-group">
                  <label class="control-label mb-10">Cheque Number*</label>
                  <input
                    type="text"
                    id="chequeNum"
                    name="cheque_num"
                    required
                    autocomplete="off"
                    class="form-control cheque_num"
                    formControlName="cheque_number"
                  />
                </div>
                <span
                  class="input-error"
                  *ngIf="submitted && f.cheque_number.errors"
                >
                  Please add Cheque Number!
                </span>
              </div>
              <div class="col-md-6 PT-10">
                <div class="form-group focused">
                  <label class="control-label mb-10">Date*</label>
                  <input
                    type="date"
                    id="datepicker"
                    required
                    placeholder=""
                    autocomplete="off"
                    name="payment_date"
                    x
                    class="form-control cheque_date"
                    formControlName="cheque_date"
                  />
                </div>
                <span
                  class="input-error"
                  *ngIf="submitted && f.cheque_date.errors"
                >
                  Please add Payment Date!
                </span>
              </div>
              <div class="col-md-6 PT-5">
                <div class="form-group">
                  <label class="control-label mb-10">Bank Name*</label>
                  <input
                    type="text"
                    name="cheque_bank_name"
                    id="chequeBankName"
                    required
                    autocomplete="off"
                    class="form-control cheque_bank_name"
                    formControlName="bank_name"
                  />
                </div>
                <span
                  class="input-error"
                  *ngIf="submitted && f.bank_name.errors"
                >
                  Please add Bank Name!
                </span>
              </div>
              <div class="col-md-6 PT-5" *ngIf="!f.isfullAmount.value">
                <div class="form-group">
                  <label class="control-label mb-10">Total Amount*</label>
                  <input
                    type="number"
                    min="0"
                    id="Amount1"
                    autocomplete="off"
                    class="form-control cheque_amount"
                    formControlName="cheque_amount"
                  />
                </div>
                <span
                  class="input-error"
                  *ngIf="submitted && f?.cheque_amount?.errors?.required"
                >
                  Please add Total Amount!
                </span>
                <span
                  class="input-error"
                  *ngIf="submitted && f?.cheque_amount?.errors?.equalZero"
                >
                  Zero value not allowed
                </span>
                <span
                  class="input-error"
                  *ngIf="submitted && f?.cheque_amount?.errors?.mustMatch"
                >
                  Amount should not be greater than
                  {{ secondaryOrder.totalDueAmount | number : "1.2-2" }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer border-0" *ngIf="!f.isCredit.value">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onPaymentsubmit(true)"
          >
            Add
          </button>
          <button
            type="button"
            id="close-payment-modal"
            class="btn btn-cancel"
            data-dismiss="modal"
            aria-label="Close"
          >
            Cancel
          </button>
        </div>

        <div *ngIf="f.isCredit.value" class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Add <span>Credit Information</span>
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- Credit payment  -->
        <div *ngIf="f.isCredit.value" id="floating-label" class="form-wrap p-0">
          <div class="col-12">
            <div class="row pt-10">
              <div class="col-6">
                <!-- <div class="col-auto"> -->
                <div
                  class="custom-control custom-radio"
                  *ngIf="!secondaryOrder.isCheckAdded"
                >
                  <input
                    type="radio"
                    id="self-001"
                    name="customRadio"
                    class="custom-control-input"
                    value="full"
                    (click)="onCreditFullPayment(true)"
                  />
                  <label
                    class="custom-control-label"
                    style="font-size: 13px; line-height: 25px"
                    for="self-001"
                  >
                    Full Amount</label
                  >
                </div>
                <!-- </div> -->
                <!-- <div class="col-auto"> -->
                <!-- </div> -->
                <!-- </div> -->
                <!-- <div
                  class="custom-control custom-radio"
                  *ngIf="!secondaryOrder.isCheckAdded"
                >
                  <input
                    class="custom-control-input"
                    name="paymentcr"
                    id="Amount12"
                    value="full"
                    (click)="onCreditFullPayment(true)"
                  />
                  <label
                    class="custom-control-label"
                    style="font-size: 13px; line-height: 25px"
                    for="Amount12"
                    >Full Amount</label
                  >
                </div> -->
              </div>
              <div class="col-6">
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="f-family"
                    name="customRadio"
                    class="custom-control-input"
                    value="partial"
                    (click)="onCreditFullPayment(false)"
                  />
                  <label
                    style="font-size: 13px; line-height: 25px"
                    class="custom-control-label"
                    for="f-family"
                    >Partial Amount
                  </label>
                </div>
              </div>
              <!-- <div class="col-6">
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    name="paymentcr"
                    id="Amount2"
                    value="partial"
                    (click)="onCreditFullPayment(false)"
                  />
                  <label
                    class="custom-control-label"
                    style="font-size: 13px; line-height: 25px"
                    for="Amount2"
                    >Partial Amount 1</label
                  >
                </div>
              </div> -->
              <div
                class="col-12 input-error"
                *ngIf="submitted && f.isfullAmount.errors"
              >
                Please select a payment method!
              </div>
              <div class="col-md-6 PT-10" *ngIf="!f.isfullAmount.value">
                <div class="form-group">
                  <label class="control-label mb-10">Amount*</label>
                  <input
                    type="number"
                    min="0"
                    autocomplete="off"
                    class="form-control cheque_amount"
                    formControlName="cheque_amount"
                  />
                </div>
                <span
                  class="input-error"
                  *ngIf="submitted && f?.cheque_amount?.errors?.required"
                >
                  Please add Total Amount!
                </span>
                <span
                  class="input-error"
                  *ngIf="submitted && f?.cheque_amount?.errors?.equalZero"
                >
                  Zero value not allowed
                </span>
                <span
                  class="input-error"
                  *ngIf="submitted && f?.cheque_amount?.errors?.mustMatch"
                >
                  Amount should not be greater than
                  {{ secondaryOrder.totalDueAmount | number : "1.2-2" }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="f.isCredit.value" class="modal-footer border-0">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onPaymentsubmit(false)"
          >
            Add
          </button>
          <button
            type="button"
            id="close-payment-modal"
            class="btn btn-cancel"
            data-dismiss="modal"
            aria-label="Close"
          >
            Cancel
          </button>
        </div>

        <!-- End Credit Payment -->
      </form>
    </div>
  </div>
</div>
<!-- End Credit Payment -->
<!-- Products Listing -->
<div
  id="product-cl-sec"
  (clickOutside)="clickedOutSide($event)"
  [ngClass]="showProducts ? 'active' : ''"
>
  <a id="pl-close" (click)="closeProductsList()" class="close-btn-pl"></a>
  <div class="pro-header-text">Add <span>Product</span></div>
  <div class="se_cus-type form-wrap p-15">
    <div class="row">
      <div class="col-12">
        <div class="productSearch">
          <i class="fa fa-search"></i>
          <input
            type="text"
            [(ngModel)]="searchProd"
            name="searchProd"
            class="form-control"
            id=""
            placeholder="Search"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="pc-cartlist">
    <div class="overflow-plist">
      <div class="plist-content">
        <div class="_left-filter pt-0">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="card top_border p-15">
                  <table class="AddProductTable" width="100%">
                    <tbody>
                      <tr
                        *ngFor="
                          let product of allProducts | filter : searchProd;
                          let i = index
                        "
                      >
                        <td>
                          <div class="ProListDiv">
                            <div
                              *ngIf="product.schemes?.length"
                              class="lab-promotion"
                            >
                              Scheme
                            </div>
                            <img
                              class="PrList_img"
                              src="{{ product.thumbnail }}"
                              alt=""
                            />
                            <div class="PR_Name">
                              {{ product.item_name }}
                              <span
                                style="
                                  display: block;
                                  opacity: 0.6;
                                  padding-top: 5px;
                                "
                              >
                                SKU: {{ product.item_sku }}
                              </span>
                            </div>
                          </div>
                        </td>
                        <td>
                          <button
                            *ngIf="!product.isAdded"
                            data-toggle="modal"
                            data-target="#exampleModal"
                            class="btn btn-default mb-0 dont-close-quantity"
                            (click)="openQuantityModal(product)"
                          >
                            Add
                          </button>
                          <button
                            *ngIf="product.isAdded"
                            class="btn btn-default mb-0 red-bg dont-close-product"
                            (click)="removeProductFromOrder(product)"
                          >
                            Remove
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-12 loader" *ngIf="loadingProducts">
                    <h2 class="loading">Loading Products...</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="_cl-bottom">
    <!-- <button type="submit" class="btn btn-primary mr-2">Add</button> -->
    <button
      id="pl-prod-close"
      type="butotn"
      class="btn btn-cancel mr-2"
      (click)="closeProductsList()"
    >
      Cancel
    </button>
    <!-- (click)="closeProductsList()" -->
  </div>
</div>

<!-- Unit, Quantity and Trade Offer of Products -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content top_border">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Product <span> Detail</span>
        </h5>
        <button
          type="button"
          class="close dont-close-products"
          data-dismiss="modal"
          aria-label="Close"
        >
          <!-- (click)="closeQuantityModal($event)" -->

          <span class="dont-close-products" aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- *ngIf="selectedProduct.hasOwnProperty('quantity')" -->

      <div class="modal-body AddDetailPR">
        <div class="row" *ngIf="selectedProduct">
          <div class="col-md-4 pt-7 mb-15">Add Quantity:</div>
          <div class="col-md-8 mb-15">
            <input
              type="text"
              class="form-control"
              placeholder="Add Quantity"
              required
              (keydown)="isNumber($event, 'quantity')"
              [(ngModel)]="selectedProduct.stockQty"
              #selectedQty="ngModel"
              style="font-size: 13px"
            />
            <!-- *ngIf="selectedQty.errors?.required && isAdded" -->

            <span *ngIf="!selectedProduct.stockQty" class="input-error">
              Please add Quantity!
            </span>
            <!-- *ngIf="
                +selectedProduct.stockQty === 0 &&
                isAdded &&
                !selectedQty.errors?.required
              " -->
            <span *ngIf="selectedProduct.stockQty === 0" class="input-error">
              Quantity should be greater than 0!
            </span>
          </div>
          <div class="col-md-4 pt-7 mb-15">Unit:</div>
          <div class="col-md-8 mb-15">
            {{ selectedProduct.unit_name }}
            <!-- <select class="custom-select custom-select-sm" [(ngModel)]="selectedProduct.pref_id"
                            name="prefrences" (change)="setPrefrence($event.target.value, selectedProduct)"
                            #selectedPrefs="ngModel">
                            <option [value]="null" disbaled>Select Unit</option>
                            <option *ngFor="let unit of selectedProduct.units" [value]="unit.pref_id">{{unit.unit_name}}
                            </option>
                        </select> -->
            <!-- <span *ngIf="selectedProduct.pref_id === null && isAdded" class="input-error">
                            Please select a Unit!
                        </span>
                        <span *ngIf="alreadyAdded && selectedProduct.pref_id !== null" class="input-error">
                            Selected Unit already added please change unit or update the quantity in the list!
                        </span> -->
          </div>
          <div
            *ngIf="selectedProduct && selectedProduct.schemes?.length"
            class="col-md-4"
            style="padding-top: 2px"
          >
            Trade Offer:
          </div>
          <div class="col-md-8">
            <div *ngFor="let scheme of selectedProduct?.schemes; let i = index">
              <div class="custom-control custom-radio">
                <input
                  [(ngModel)]="selectedProduct.selectedScheme"
                  (click)="
                    (selectedProduct.pref_id && selectedProduct.quantity)
                  "
                  class="custom-control-input"
                  type="radio"
                  name="AssignCatalogue"
                  id="byTerritory-{{ i }}"
                  [value]="scheme"
                />
                <label
                  class="custom-control-label font13"
                  for="byTerritory-{{ i }}"
                  style="line-height: 25px"
                  >{{ scheme.title }}</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0" style="background-color: #f6f6f6">
        <button
          type="submit"
          class="btn btn-primary dont-close-products"
          data-dismiss="modal"
          aria-label="Close"
          [disabled]="
            selectedProduct &&
            (!selectedProduct.stockQty || selectedProduct.stockQty == 0)
          "
          (click)="addProductToOrder()"
        >
          <!-- (click)="addProductToOrder()" -->
          Confirm
        </button>
        <button
          type="button"
          id="pl-qty-close"
          class="btn btn-cancel dont-close-products"
          data-dismiss="modal"
          aria-label="Close"
        >
          <!-- (click)="closeQuantityModal($event)" -->

          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
