<!-- No Content State -->
<div
  *ngIf="!retailer_credit_Invoices.length && !loading"
  class="no-content w-full h-[calc(100vh-204px)] flex"
>
  <div class="no-content-container m-auto table text-center text-[#b7b7b7]">
    <img 
      src="assets/images/select order-icon.svg" 
      alt="" 
      class="w-[70px] h-[70px] mx-auto mb-[10px] block dark:invert dark:opacity-70"
    />
    <strong>No Credit invoice Found</strong>
  </div>
</div>

<!-- AG Grid Container -->
<div  *ngIf="retailer_credit_Invoices?.length && !loading"  class="w-full pt-5 min-h-[calc(100vh-200px)]">   
  <div   class="ag-theme-quartz ag-grid-container"
  >
    <ag-grid-angular
      [rowData]="retailer_credit_Invoices"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [pagination]="true"
      [paginationPageSize]="10"
      [paginationPageSizeSelector]="[10, 20, 50, 100]"
      [suppressPaginationPanel]="false"
      [domLayout]="'autoHeight'"
      [animateRows]="true"
      [rowSelection]="{ type: 'single' }"
      [theme]="'legacy'"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>

  <!-- Loading State -->
  <div *ngIf="loading" class="flex justify-center items-center p-8">
    <app-loader-white></app-loader-white>
  </div>
</div>
