._PR_filter{margin-top: -2px; width: 270px!important; float: left}
.ng-select .ng-select-container, .ng-option, .ng-select span { text-transform: capitalize; }
.ng-select .ng-clear-wrapper {display: none;}
._PR_filter .form-s2 .ng-select {padding: 0 !important;height: 30px !important;}
._PR_filter .form-s2 .ng-select .ng-select-container {width: 100%;font-size: 14px;border: none;border-radius: 0;min-height: 30px !important;height: 30px !important;}
._PR_filter .form-s2 .ng-select .ng-select-container div.ng-input { top: 0 !important; }
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input input {height: 28px;}

.addPR-head h3{font-size: 14px; padding-right: 10px; line-height: 2; margin: 0}
._PR_filter input {
	box-shadow: none;
    font-size: 13px;
    height: 31px;
    border-color: #eae9e9;
}
.report_value {
    background-color: #fff;
    font-size: 14px;
    position: relative;
    padding: 10px 0px;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    margin-top: 0px; 
    line-height: 1; border-bottom: solid 1px #eae9e9
}
.report_value span {
    font-family: 'Rationale', sans-serif;
    line-height: 1;
    font-size: 18px;
    float: right;
    margin-top: -2px;
}
.addPR-head {
    font-size: 16px;
    padding: 15px 15px 15px 20px !important;
}