#product-cl-sec{right: -860px; opacity: 1; box-shadow: 0 1px 5px 0 rgba(45,62,80,.12); width: 600px}
#product-cl-sec.active{right: 0px; opacity: 1; box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5)} 
.productSearch {position: relative;}
.productSearch input {height: 32px;
	border: solid 1px #eae9e9;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding-left: 30px;
	font-size: 13px;
	letter-spacing: 1px;
}
.productSearch .fa {position: absolute;top: 8px;left: 8px;color: #b5b5b5;}
._left-filter{padding-top:0}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none;  margin: 0;}
/* Firefox */input[type=number] {-moz-appearance: textfield;}
.AddProductTable {padding: 0;margin: 0}
.AddProductTable tr {border-bottom: solid 1px #eeeeee}
.AddProductTable td {padding-bottom: 7px;padding-top: 7px}
.ProListDiv {padding: 0;display: table;}
.ProListDiv .PR_Name {display: table-cell;vertical-align: middle;font-size: 14px;letter-spacing: 1px;line-height: 16px}
.ProListDiv .PrList_img {width: 35px;height: 35px;margin-right: 8px;border: solid 1px #e0e0e0}
.AddProductTable .btn-default {
	padding: 5px 8px;
	font-size: 13px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-khtml-border-radius: 0;
	background: linear-gradient(90deg, #1e54d3 0%, #0038ba 100%);
	color: #fff;
	text-align: center;
	margin: 0;
	line-height: 1;
	min-width: 74px;
	letter-spacing: 1px;
	float: right;
	border: none!important
}
