/* Minimal custom styles - most styling is now handled by Tailwind CSS */

/* Stock Card Background Image */
.stock-card-bg {
  position: relative;
  overflow: hidden; 
}

.stock-card-bg > * {
  position: relative;
  z-index: 1;
}

/* Shortcut Card Background */
.shortcut-card-bg {
  background-image: url(/assets/images/dash-card-bg.png);
  background-position: left bottom;
  background-size: 30%;
  background-repeat: no-repeat;
}

.shortcut-card-bg:hover {
  background-size: 150%;
  transition: all 0.2s;
}

/* Line clamp utility for product names */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

 
  .custum-size-home{
     width: 250px !important;
     height: 250px !important; 
  } 

@media (max-width: 1440px) {
  .custum-size-home{
     width: 225px !important;
     height: 225px !important; 
  }
 }
 @media (max-width: 1366px) {
     .custum-size-home{
        width: 212px !important;
        height: 212px !important; 
     }
 }
 @media (max-width: 1280px) {
     .custum-size-home{
        width: 196px !important;
        height: 196px !important; 
     }
 }
 @media (max-width: 1024px) {
  .custum-size-home{
     width: 180px !important;
     height: 180px !important; 
  }
}