<!-- <div id="content-wrapper"> -->

<!-- SIDE BAR -->
<div
  id="product-cl-sec"
  *ngIf="showSideBar"
  [ngClass]="showSideBar ? 'active' : ''"
>
  <a id="pl-close" class="close-btn-pl" (click)="closeProductsList()"></a>
  <div class="pro-header-text">Orders <span>List</span></div>
  <div class="pc-cartlist">
    <div class="overflow-plist">
      <div class="plist-content">
        <div class="_left-filter pt-0">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="card top_border p-15">
                  <table
                    class="table table-hover nowrap AddProductTable"
                    id="example2"
                    style="width: 100%; font-size: 12px"
                  >
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th style="width: 250px">Retailer Name</th>
                        <th>BKD QTY</th>
                        <th>FOC. QTY</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let order of orders">
                        <td>{{ order.retailer_id }}</td>
                        <td style="width: 250px">
                          {{ order.retailer_name }}
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control value_input"
                            placeholder="0"
                            [(ngModel)]="order.booked_qty"
                            (keydown)="isNumber($event, 'quantity')"
                          />
                        </td>
                        <td>{{ order.free_qty }}</td>  
                        <td>
                          <button
                            class="btn smBTN btn-line mb-0"
                            (click)="onUpdateLoadOrderItemAllocation(order)"
                          >
                            <div
                              *ngIf="order.updateLoading"
                              class="spinner-border"
                              role="status"
                            >
                              <span class="sr-only"></span>
                            </div>
                            {{ order.updateLoading ? "" : "Update" }}
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="_cl-bottom">
    <!-- <button type="submit" class="btn btn-primary mr-2">Update</button> -->
    <button
      (click)="closeProductsList()"
      id="pl-close"
      type="button"
      class="btn btn-cancel mr-2"
    >
      Close
    </button>
  </div>
</div>

<div class="overlay-blure"></div>
<!-- END SIDEBAR -->

<!-- <div id="blureEffct" class="container">
  <div class="row mt-2 mb-3">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h2 class="_head01">Bulk <span>Dispatch Update</span></h2>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <ol class="breadcrumb">
        <li>
          <a href="#"><span>Bulk Dispatch</span></a>
        </li>
        <li><span>Update</span></li>
      </ol>
    </div>
  </div> -->

<!-- <div class="row">
    <div class="col-lg-12">
      <div class="Product-Filter pt-0 pb-0">
        <div class="row">
          <div class="col-md-4 label-text pr-0">
            Distributor: <strong>Nadeem chodhry Distributor</strong>
          </div>
          <div class="col-md-3 label-text">
            Order Booker: <strong>Usama Shahid</strong>
          </div>
          <div class="col label-text">Route: <strong>Route 2</strong></div>
          <div class="col label-text">Date: <strong>12/13/2021</strong></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div> -->

<div id="stock-allocation" class="row">
  <div class="col-md-12">
    <div class="">
      <div class="header">
        <h2>Products <span>List</span></h2>
      </div>
      <div class="body" *ngIf="!loading">
        <table
          datatable
          [dtOptions]="dtOptions"
          class="table table-hover dt-responsive nowrap"
          id="example"
          style="width: 100%"
        >
          <thead>
            <tr>
              <th>SKU</th>
              <th>Name</th>
              <th>Stock in Hand</th>
              <th>Allocated Stock</th>
              <th>Available QTY.</th>
              <th>FOC QTY.</th> 
              <th>Booked QTY.</th>
              <th>Allocated QTY.</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of stockAllocation; let ind">
              <td>{{ item.item_sku }}</td>
              <td>{{ item.item_main_description }}</td>
              <td>
                {{ +item.availble_stock_qty }}
              </td>
              <td>{{ item.allocated_stock_qty }}</td>
              <td>
                {{ +item.availble_stock_qty - +item.allocated_stock_qty }}
              </td>
              <td>{{ item.current_load_foc_qty }}</td>
              <td>   
                {{ +item.current_load_booked_qty - +item.current_load_foc_qty }}
              </td>
              <td>
                <input
                  type="text"
                  [id]="item.item_name"
                  [name]="item.item_name"
                  (keyup)="setQuantity(item)"
                  [(ngModel)]="item.current_load_allocated_qty"
                  (keydown)="isNumber($event, 'quantity')"
                  class="form-control value_input"
                  placeholder="0"
                  minlength="0"
                />
                <span style="display: none">{{
                  item.current_load_allocated_qty
                }}</span>
              </td>
              <td style="width: 213px">
                <button
                  type="button"
                  class="btn smBTN btn-line mb-0"
                  (click)="onExtraLoadItemAllocation(item)"
                >
                  <div
                    *ngIf="item.updateLoading"
                    class="spinner-border"
                    role="status"
                  >
                    <span class="sr-only"></span>
                  </div>
                  {{ item.updateLoading ? "" : "Update" }}
                </button>
                <button
                  *ngIf="item.current_load_booked_qty > 0"
                  type="button"
                  id="productlist01"
                  class="btn smBTN btn-line mb-0"
                  (click)="onShowViewOrders($event, item.pref_id)"
                >
                  View Orders
                </button>
                <button
                  *ngIf="item.current_load_booked_qty > 0"
                  type="submit"
                  class="btn smBTN red-bg mb-0"
                  (click)="clearLoadItemAllocation(item)"
                >
                  <div
                    *ngIf="item.cancelLoading"
                    class="spinner-border"
                    role="status"
                  >
                    <span class="sr-only"></span>
                  </div>
                  {{ item.cancelLoading ? "" : "Cancel All" }}
                </button>
                <!-- </td>
              <td> -->

                <!-- <button
                    type="submit"
                    class="btn smBTN red-bg mb-0"
                    *ngIf="item.current_load_allocated_qty > 0"
                  >
                    Update
                  </button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="loading" class="col-12">
        <app-loader-white></app-loader-white>
      </div>
      <div class="container-fluid p-0">
        <div
          class="align-right"
          style="margin-right: 15px; margin-bottom: 15px"
        >
          <button class="btn btn-primary" (click)="onCheckAllocation()">
            <div *ngIf="tabLoading" class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
            {{ tabLoading ? "" : "Check Allocation" }}
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="Action_bottom">
      <div class="container-fluid p-0">
        <div class="align-right">
          <button class="btn btn-primary">Save Order</button>
        </div>
      </div>
    </div> -->
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
