<div class="header addPR-head mb-10">
    <h2>Product <span> List</span> </h2>
    <a id="productlist01" class="btn add_button addpr" (click)="openProductsList($event)"><i class="fa fa-plus"
            style="margin-right: 3.5px;"></i><span>Add Product</span></a>
</div>
<div class="col-12 retailerTable">
    <table class="table table-hover dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th style="width:200px">Product Name</th>
                <th>Bkd Qty</th>
                <th>Dely.Qty</th>
                <th>T.P.</th>
                <th>GR.Amt</th>
                <th>T.O.</th>
                <th>T.Disc</th>
                <th>Spec.Disc</th>
                <th>B.Disc</th>
                <th>Net Amt</th>
                <th style="width: 48px;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orderDetail.order_detail; let i=index">
                <td style="width:200px">{{order.item_name}}</td>
                <td>{{order.quantity}}</td>
                <td><input type="text" id="item-{{order.item_sku}}" name="item-{{order.item_sku}}" [(ngModel)]="order.deliveryQty" class="form-control value_input" placeholder="0"></td>
                <td>{{order.tp | number: '1.2-2'}}</td>
                <td>{{order.gross_amount || 0 | number: '1.2-2'}}</td>
                <td>{{order.scheme_discount | number: '1.2-2'}}</td>
                <td>{{order.merchant_discount}}%</td>
                <td>{{order.special_discount | number: '1.2-2'}}</td>
                <td><input type="text" id="bd-{{order.item_sku}}" name="bd-{{order.item_sku}}" [(ngModel)]="order.booker_discount" class="form-control value_input" placeholder="0"></td>
                <td>{{order.net_amount || 0 | number: '1.2-2'}}</td>
                <td><button type="button" class="del_item btn smBTN red-bg" data-toggle="modal"
                        data-target="#exampleModal-del">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <h4 *ngIf="!orderDetail?.order_detail?.length" class="no-products">No items to display yet please select order!</h4>

    <div class="row">
        <div class="col"></div>
        <div class="col-auto">
            <div class="total-valu-div">
                <div class="row">
                    <div class="col-6">Gross Amount: </div>
                    <div class="col-6"><span>{{grossAmount | number: '1.2-2'}}</span></div>
                </div>
                <div class="row">
                    <div class="col-6">Trade Offer: </div>
                    <div class="col-6"><span>{{totalSchemeDiscount | number: '1.2-2'}}</span></div>
                </div>
                <div class="row">
                    <div class="col-6">Trade Discount: </div>
                    <div class="col-6"><span>{{totalMerchantDiscount | number: '1.2-2'}}</span></div>
                </div>
                <div class="row">
                    <div class="col-6">Special Discount:</div>
                    <div class="col-6"><span>{{totalSpecialDiscount | number: '1.2-2'}}</span></div>
                </div>
                <div class="row">
                    <div class="col-6">Booker Discount:</div>
                    <div class="col-6"><span>{{totalBookerDiscount | number}}</span></div>
                </div>
                <div class="row">
                    <div class="col-6" style="color:#0038ba;">Total Amount Due:
                    </div>
                    <div class="col-6" style="color:#0038ba;"><span>{{netAmount | number: '1.2-2'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>