<div class="header addPR-head mb-10">
    <h2>Product <span> List</span> </h2>
    <a id="productlist01" class="btn add_button addpr" (click)="openProductsList($event)"><i class="fa fa-plus"
            style="margin-right: 3.5px;"></i><span>Add Product</span></a>
</div>
<div class="col-12 retailerTable">
    <table class="table table-hover dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th style="width:200px">Product Name</th>
                <th>Bkd Qty</th>
                <th>Dely.Qty</th>
                <th>T.P.</th>
                <th>GR.Amt</th>
                <th>T.O.</th>
                <th>T.Disc</th>
                <th>Spec.Disc</th>
                <th>B.Disc</th>
                <th>Net Amt</th>
                <th style="width: 48px;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:200px">AasPas R5 (Chocolate BTNT) (24x36)</td>
                <td>1</td>
                <td><input type="text" id="" class="form-control value_input" placeholder="0"></td>
                <td>103.25</td>
                <td>103.25</td>
                <td>0</td>
                <td>3%</td>
                <td>0.00</td>
                <td><input type="text" class="form-control value_input" placeholder="0"></td>
                <td>100.00</td>
                <td><button type="button" class="del_item btn smBTN red-bg" data-toggle="modal"
                        data-target="#exampleModal-del">Delete</button></td>
            </tr>
            <tr>
                <td style="width:200px">AasPas R5 (Chocolate BTNT) (24x36)</td>
                <td>1</td>
                <td><input type="text" id="" class="form-control value_input" placeholder="0"></td>
                <td>103.25</td>
                <td>103.25</td>
                <td>0</td>
                <td>3%</td>
                <td>0.00</td>
                <td><input type="text" class="form-control value_input" placeholder="0"></td>
                <td>100.00</td>
                <td><button type="button" class="del_item btn smBTN red-bg" data-toggle="modal"
                        data-target="#exampleModal-del">Delete</button></td>
            </tr>
            <tr>
                <td style="width:200px">AasPas R5 (Chocolate BTNT) (24x36)</td>
                <td>1</td>
                <td><input type="text" id="" class="form-control value_input" placeholder="0"></td>
                <td>103.25</td>
                <td>103.25</td>
                <td>0</td>
                <td>3%</td>
                <td>0.00</td>
                <td><input type="text" class="form-control value_input" placeholder="0"></td>
                <td>100.00</td>
                <td><button type="button" class="del_item btn smBTN red-bg" data-toggle="modal"
                        data-target="#exampleModal-del">Delete</button></td>
            </tr>

        </tbody>
    </table>

    <div class="row">
        <div class="col"></div>
        <div class="col-auto">
            <div class="total-valu-div">
                <div class="row">
                    <div class="col-6">Gross Amount: </div>
                    <div class="col-6"><span>289.12</span></div>
                </div>
                <div class="row">
                    <div class="col-6">Trade Offer: </div>
                    <div class="col-6"><span>0.00</span></div>
                </div>
                <div class="row">
                    <div class="col-6">Trade Discount: </div>
                    <div class="col-6"><span>8.67</span></div>
                </div>
                <div class="row">
                    <div class="col-6">Special Discount:</div>
                    <div class="col-6"><span>0.00</span></div>
                </div>
                <div class="row">
                    <div class="col-6">Booker Discount:</div>
                    <div class="col-6"><span>0.00</span></div>
                </div>
                <div class="row">
                    <div class="col-6" style="color:#0038ba;">Total Amount Due:
                    </div>
                    <div class="col-6" style="color:#0038ba;"><span>4,655.74</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>