<div class="container">
    <div class="row">
        <div class="col-md-12 mb-30">
            <div class="card PB-20">
                <div class="row m-0 grayTopborder">
                    <div class="col-8 p-0">
                        <div class="header addPR-head mb-10">
                            <h2>Add <span> Opening Balance</span></h2>

                            <div class="_PR_filter pl-15">
                                <div class="form-s2">
                                    <select class="form-control formselect" placeholder="select Route"
                                        style="width: 100%!important">
                                        <option value="0" disabled>Select Route</option>
                                        <option value="1">Route Name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="_PR_filter pl-15">
                                <div class="form-s2">
                                    <select class="form-control formselect" placeholder="select Order Booker"
                                        style="width: 100%!important">
                                        <option value="0" disabled>Select Order Booker</option>
                                        <option value="1">Utba</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 retailerTable">
                            <table datatable [dtOptions]="dtOptions" class="table table-hover dt-responsive nowrap" id="example" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Retailer Name</th>
                                        <th>Retailer Type</th>
                                        <th>Retailer Phone</th>
                                        <th>Balance</th>
                                        <th>ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>768 Shop</td>
                                        <td>Retailer Type</td>
                                        <td>03228754121</td>
                                        <td><input type="text" class="form-control add-stock-input"></td>
                                        <td><button class="btn btn-default btn-line mb-0">Add</button></td>
                                    </tr>
                                    <tr>
                                        <td>768 Shop</td>
                                        <td>Retailer Type</td>
                                        <td>03228754121</td>
                                        <td><input type="text" class="form-control add-stock-input"></td>
                                        <td><button class="btn btn-default btn-line mb-0">Add</button></td>
                                    </tr>
                                    <tr>
                                        <td>768 Shop</td>
                                        <td>Retailer Type</td>
                                        <td>03228754121</td>
                                        <td><input type="text" class="form-control add-stock-input"></td>
                                        <td><button class="btn btn-default btn-line mb-0">Add</button></td>
                                    </tr>
                                    <tr>
                                        <td>768 Shop</td>
                                        <td>Retailer Type</td>
                                        <td>03228754121</td>
                                        <td><input type="text" class="form-control add-stock-input"></td>
                                        <td><button class="btn btn-default btn-line mb-0">Add</button></td>
                                    </tr>
                                    <tr>
                                        <td>768 Shop</td>
                                        <td>Retailer Type</td>
                                        <td>03228754121</td>
                                        <td><input type="text" class="form-control add-stock-input"></td>
                                        <td><button class="btn btn-default btn-line mb-0">Add</button></td>
                                    </tr>
                                    <tr>
                                        <td>768 Shop</td>
                                        <td>Retailer Type</td>
                                        <td>03228754121</td>
                                        <td><input type="text" class="form-control add-stock-input"></td>
                                        <td><button class="btn btn-default btn-line mb-0">Add</button></td>
                                    </tr>
                                    <tr>
                                        <td>768 Shop</td>
                                        <td>Retailer Type</td>
                                        <td>03228754121</td>
                                        <td><input type="text" class="form-control add-stock-input"></td>
                                        <td><button class="btn btn-default btn-line mb-0">Add</button></td>
                                    </tr>
                                    <tr>
                                        <td>768 Shop</td>
                                        <td>Retailer Type</td>
                                        <td>03228754121</td>
                                        <td><input type="text" class="form-control add-stock-input"></td>
                                        <td><button class="btn btn-default btn-line mb-0">Add</button></td>
                                    </tr>
                                    <tr>
                                        <td>768 Shop</td>
                                        <td>Retailer Type</td>
                                        <td>03228754121</td>
                                        <td><input type="text" class="form-control add-stock-input"></td>
                                        <td><button class="btn btn-default btn-line mb-0">Add</button></td>
                                    </tr>
                                    <tr>
                                        <td>768 Shop</td>
                                        <td>Retailer Type</td>
                                        <td>03228754121</td>
                                        <td><input type="text" class="form-control add-stock-input"></td>
                                        <td><button class="btn btn-default btn-line mb-0">Add</button></td>
                                    </tr>
                                    <tr>
                                        <td>768 Shop</td>
                                        <td>Retailer Type</td>
                                        <td>03228754121</td>
                                        <td><input type="text" class="form-control add-stock-input"></td>
                                        <td><button class="btn btn-default btn-line mb-0">Add</button></td>
                                    </tr>
                                    <tr>
                                        <td>768 Shop</td>
                                        <td>Retailer Type</td>
                                        <td>03228754121</td>
                                        <td><input type="text" class="form-control add-stock-input"></td>
                                        <td><button class="btn btn-default btn-line mb-0">Add</button></td>
                                    </tr>
                                    <tr>
                                        <td>768 Shop</td>
                                        <td>Retailer Type</td>
                                        <td>03228754121</td>
                                        <td><input type="text" class="form-control add-stock-input"></td>
                                        <td><button class="btn btn-default btn-line mb-0">Add</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="col-4 p-0">
                        <div class="_selectProList ProListHeight">
                            <div class="header ProListHD">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="w-100">Retailers <span> List</span></h2>
                                    </div>
                                    <div class="col-12">
                                        <div class="APS-list"><i class="fa fa-search"></i>
                                            <input type="text" class="form-control" id="" placeholder="Search">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="ProList-div">
                                <table class="table table-hover dt-responsive nowrap" id="example2" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="Pro-IN"><img class="Pr_imgV" src="assets/images/avatar.svg"
                                                        alt="" />
                                                    <div class="CP-name"><strong>786 Shop</strong> <span>Balance:
                                                            485</span></div>
                                                </div>
                                            </td>
                                            <td align="right"><a href="#" class="RLDelete"><i
                                                        class="fa fa-times"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="Pro-IN"><img class="Pr_imgV" src="assets/images/avatar.svg"
                                                        alt="" />
                                                    <div class="CP-name"><strong>786 Shop</strong> <span>Balance:
                                                            485</span></div>
                                                </div>
                                            </td>
                                            <td align="right"><a href="#" class="RLDelete"><i
                                                        class="fa fa-times"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="Pro-IN"><img class="Pr_imgV" src="assets/images/avatar.svg"
                                                        alt="" />
                                                    <div class="CP-name"><strong>786 Shop</strong> <span>Balance:
                                                            485</span></div>
                                                </div>
                                            </td>
                                            <td align="right"><a href="#" class="RLDelete"><i
                                                        class="fa fa-times"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="Pro-IN"><img class="Pr_imgV" src="assets/images/avatar.svg"
                                                        alt="" />
                                                    <div class="CP-name"><strong>786 Shop</strong> <span>Balance:
                                                            485</span></div>
                                                </div>
                                            </td>
                                            <td align="right"><a href="#" class="RLDelete"><i
                                                        class="fa fa-times"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-right PT-15">
                        <button data-toggle="modal" data-target="#exampleModal" type="submit"
                            class="btn btn-primary mr-2">Save</button>
                        <button type="submit" class="btn btn-cancel" [routerLink]="['/retailer', 'list']">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>