<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content  top_border">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Promotion <span> Detail</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body AddDetailPR">
                <div class="row">
                    <div class="col-md-4 pt-7 mb-15">Add Quantity:</div>
                    <div class="col-md-8 mb-15">
                        <input type="text" class="form-control" placeholder="" style="font-size:13px">
                    </div>
                    <div class="col-md-4 pt-7 mb-15">Select Unit:</div>
                    <div class="col-md-8 mb-15">
                        <select class="custom-select custom-select-sm" id="">
                            <option>Select Unit</option>
                            <option>Piece</option>
                            <option>Box</option>
                        </select>
                    </div>
                    <div class="col-md-4" style="padding-top: 2px">Trade Offer:</div>
                    <div class="col-md-8">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" name="AssignCatalogue" id="byTerritory"
                                value=''>
                            <label class="custom-control-label font13" for="byTerritory"
                                style="line-height:25px;">12+1</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0" style="background-color: #f6f6f6">
                <button type="button" class="btn btn-primary">Confirm</button>
                <button type="submit" class="btn btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content top_border">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add <span> Cheque Information</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-12">
                <div id="floating-label" class="form-wrap p-0">
                    <div class="row pt-10">
                        <div class="col-4">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" name="payment" id="payment1" value=''>
                                <label class="custom-control-label" style="font-size: 13px; line-height:25px"
                                    for="payment1">Full Amount</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" name="payment" id="payment2" value=''>
                                <label class="custom-control-label" style="font-size: 13px; line-height:25px"
                                    for="payment2">Partial Amount</label>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 PT-10">
                            <div class="form-group">
                                <label class="control-label mb-10">Cheque Number*</label>
                                <input type="text" class="form-control cheque_num">
                            </div>
                        </div>
                        <div class="col-md-6 PT-10">
                            <div class="form-group">
                                <label class="control-label mb-10">Date*</label>
                                <input type="text" id="datepicker" class="form-control cheque_date datepicker">
                            </div>
                        </div>
                        <div class="col-md-6 PT-5">
                            <div class="form-group">
                                <label class="control-label mb-10">Bank Name*</label>
                                <input type="text" class="form-control cheque_bank_name">
                            </div>
                        </div>
                        <div class="col-md-6 PT-5">
                            <div class="form-group">
                                <label class="control-label mb-10">Total Amount*</label>
                                <input type="number" class="form-control cheque_amount">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br><br><br>Add credit information section below---------<br><br><br>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add <span> Add Credit Information</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="floating-label" class="form-wrap p-0">
                <div class="col-12">
                    <div class="row pt-10">
                        <div class="col-6">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" name="payment" id="Amount1" value=''>
                                <label class="custom-control-label" style="font-size: 13px; line-height: 25px"
                                    for="Amount1">Full Amount</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" name="payment" id="Amount2" value=''>
                                <label class="custom-control-label" style="font-size: 13px; line-height: 25px"
                                    for="Amount2">Partial Amount</label>
                            </div>
                        </div>
                        <div class="col-md-6 PT-10">
                            <div class="form-group">
                                <label class="control-label mb-10">Amount*</label>
                                <input type="number" class="form-control cheque_amount">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer border-0">
                <button type="button" class="btn btn-primary">Add</button>
                <button type="submit" class="btn btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="product-cl-sec"> <a href="#" id="pl-close" class="close-btn-pl"></a>
    <div class="pro-header-text">Add <span>Product</span></div>
    <div class="se_cus-type form-wrap p-15">
        <div class="row">
            <div class="col-12">
                <div class="productSearch"><i class="fa fa-search"></i>
                    <input type="text" class="form-control" id="" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
    <div class="pc-cartlist">
        <div class="overflow-plist">
            <div class="plist-content">
                <div class="_left-filter pt-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card top_border p-15">
                                    <table class="AddProductTable" width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="80%">
                                                    <div class="ProListDiv">

                                                        <img class="PrList_img" src="assets/images/product-img-005.jpg"
                                                            alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv">
                                                        <div class="lab-promotion">Promotion title here</div>
                                                        <img class="PrList_img" src="assets/images/product-img-005.jpg"
                                                            alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default red-bg mb-0">Remove</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv">
                                                        <div class="lab-promotion">Promotion title here</div>
                                                        <img class="PrList_img" src="assets/images/product-img-005.jpg"
                                                            alt="" />
                                                        <div class="PR_Name">Scent Dive Perfumed Telcum PowderScent Dive
                                                            Perfumed Telcum Powder</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                            <tr>
                                                <td width="80%">
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default red-bg mb-0">Remove</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">Scent Dive Perfumed Telcum PowderScent Dive
                                                            Perfumed Telcum Powder</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                            <tr>
                                                <td width="80%">
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default red-bg mb-0">Remove</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">Scent Dive Perfumed Telcum PowderScent Dive
                                                            Perfumed Telcum Powder</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="ProListDiv"><img class="PrList_img"
                                                            src="assets/images/product-img-005.jpg" alt="" />
                                                        <div class="PR_Name">3D CAR RALLY</div>
                                                    </div>
                                                </td>
                                                <td><button data-toggle="modal" data-target="#exampleModal"
                                                        class="btn btn-default mb-0">Add</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="_cl-bottom">
        <button type="submit" class="btn btn-primary mr-2">Add</button>
        <button id="pl-close" type="submit" class="btn btn-cancel mr-2">Cancel</button>
    </div>
</div>


<!-- Counter Sale -->
<div class="container _order-container">

    <div class="row mt-2 mb-2">
        <div class="col-md-12">
            <h2 class="_head01 float-left">New <span>Order</span></h2>
        </div>

    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card p-20 top_border mb-3 _INV-h">
                <div class="row _add-customer">
                    <div class="col-12">
                        <div class="row">
                            <div class="_sa-customer">
                                <div class="form-s2">
                                    <select class="form-control formselect" placeholder="Select Employee">
                                        <option>Select Employee</option>
                                        <option>Employee 1</option>
                                        <option>Employee 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="_sa-customer">
                                <div class="form-s2">
                                    <select class="form-control formselect" placeholder="Select Route">
                                        <option>Select Route</option>
                                        <option>Route 1</option>
                                        <option>Route 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="_sa-customer">
                                <div class="form-s2">
                                    <select class="form-control formselect" placeholder="Select Retailer">
                                        <option>Select Retailer</option>
                                        <option>Retailer 1</option>
                                        <option>Retailer 2</option>
                                    </select>
                                </div>
                            </div>

                            <button id="productlist01" class="btn btn-primary ml-15">Add Product</button>

                        </div>

                        <div class="_cut-detail">
                            <div class="row">
                                <div class="col-md-6"><strong>Retailer Name: &nbsp; </strong> Dow 1 canteen
                                </div>
                                <div class="col-md-6"><strong>Channel Type: &nbsp; </strong> Institutional
                                    Canteens</div>
                                <div class="col-md-6"><strong>Location: &nbsp; </strong> karachi University to
                                    okhai</div>
                                <div class="col-md-6"><strong>Territory: &nbsp; </strong> Territory here</div>
                            </div>
                        </div>

                        <div class="_add-product">
                            <div class="row AP_heading">
                                <div class="addItemCell PL-5">Product Name</div>
                                <div class="addItemCell unit-w">Unit</div>

                                <div class="addItemCell2">QTY.</div>
                                <div class="addItemCell2">T.P</div>
                                <div class="addItemCell2">T.O </div>
                                <div class="addItemCell2">T. Dis.</div>
                                <div class="addItemCell2">S. Disc.</div>
                                <div class="addItemCell2">E. Disc.</div>
                                <div class="addItemCell2">Tax</div>
                                <div class="addItemCell3">Net Amount</div>
                            </div>


                            <div class="row _row-product">
                                <a href="#" class="dd-handle dd3-handle swap-div"></a>

                                <div class="col-12 p-0">
                                    <div class="addItemCell PL-5">
                                        <div class="_emp-sele _product-name">
                                            B.B. Dal Chana Rs10 (12X24) [ZOOPLAY]
                                        </div>
                                    </div>

                                    <div class="addItemCell unit-w">
                                        <div class="_emp-sele _addProduct">
                                            <select class="form-control formselect" placeholder="select Product"
                                                data-allow_clear="1">
                                                <option>Select Unit</option>
                                                <option>box</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="addItemCell2 _h25"><input type="text" placeholder="0"
                                            style="font-size: 13px"></div>
                                    <div class="addItemCell2 _h25">0.00</div>
                                    <div class="addItemCell2 _h25">0.00</div>
                                    <div class="addItemCell2 _h25">0.00</div>
                                    <div class="addItemCell2 _h25">0.00</div>
                                    <div class="addItemCell2 _h25"><input type="text" placeholder="0"
                                            style="font-size: 13px"></div>
                                    <div class="addItemCell2 _h25">35.25</div>
                                    <div class="addItemCell3 _h25">0.00</div>
                                    <a href="#" class="btn _order-del" title="Delete"><i
                                            class="fa fa-trash-alt"></i></a>
                                </div>
                            </div>

                            <div class="row _row-product">
                                <a href="#" class="dd-handle dd3-handle swap-div"></a>

                                <div class="col-12 p-0">
                                    <div class="addItemCell PL-5">
                                        <div class="_emp-sele _product-name">
                                            <div class="lab-promotion-l">Promotion title here</div>
                                            B.B. Dal Chana Rs10 (12X24) [ZOOPLAY]
                                        </div>
                                    </div>

                                    <div class="addItemCell unit-w">
                                        <div class="_emp-sele _addProduct">
                                            <select class="form-control formselect" placeholder="select Product"
                                                data-allow_clear="1">
                                                <option>Select Unit</option>
                                                <option>box</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="addItemCell2 _h25"><input type="text" placeholder="0"
                                            style="font-size: 13px"></div>
                                    <div class="addItemCell2 _h25">0.00</div>
                                    <div class="addItemCell2 _h25">0.00</div>
                                    <div class="addItemCell2 _h25">0.00</div>
                                    <div class="addItemCell2 _h25">0.00</div>
                                    <div class="addItemCell2 _h25"><input type="text" placeholder="0"
                                            style="font-size: 13px"></div>
                                    <div class="addItemCell2 _h25">35.25</div>
                                    <div class="addItemCell3 _h25">0.00</div>
                                    <a href="#" class="btn _order-del" title="Delete"><i
                                            class="fa fa-trash-alt"></i></a>
                                </div>
                            </div>

                            <div class="row _totalBar _totalBar2">
                                <div class="addItemCell _h25 PL-5">Total Items</div>
                                <div class="addItemCell _h25 unit-w">0</div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25 width-t">Gross Amount:</div>
                                <div class="addItemCell3 _h25">0.00</div>
                            </div>

                            <div class="row _totalBar2">
                                <div class="addItemCell _h25 PL-5"></div>
                                <div class="addItemCell _h25 unit-w"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25 width-t">Trade Offer:</div>
                                <div class="addItemCell3 _h25">0.00</div>
                            </div>

                            <div class="row _totalBar2">
                                <div class="addItemCell _h25 PL-5"></div>
                                <div class="addItemCell _h25 unit-w"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25 width-t">Trade Discount:</div>
                                <div class="addItemCell3 _h25">0.00</div>
                            </div>

                            <div class="row _totalBar2">
                                <div class="addItemCell _h25 PL-5"></div>
                                <div class="addItemCell _h25 unit-w"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25 width-t">Special Discount:</div>

                                <div class="addItemCell3 _h25">0.00</div>
                            </div>


                            <div class="row _totalBar2">
                                <div class="addItemCell _h25 PL-5"></div>
                                <div class="addItemCell _h25 unit-w"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25 width-t">Extra Discount:</div>

                                <div class="addItemCell3 _h25">0.00</div>
                            </div>

                            <div class="row _totalBar2">
                                <div class="addItemCell _h25 PL-5"></div>
                                <div class="addItemCell _h25 unit-w"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25 width-t">Tax:</div>

                                <div class="addItemCell3 _h25">5.45</div>
                            </div>

                            <div class="row _totalBar2">
                                <div class="addItemCell _h25 PL-5"></div>
                                <div class="addItemCell _h25 unit-w"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25"></div>
                                <div class="addItemCell2 _h25 width-t"><strong>Total Amount Due:</strong></div>

                                <div class="addItemCell3 _h25" style="font-size: 18px; color: #0038ba">4541.00
                                </div>
                            </div>
                            <div class="row _notesTER">
                                <div class="col-md-12">
                                    Notes
                                    <textarea class="textarea-NOTES" rows='1' placeholder="Enter Notes"
                                        style="font-size: 13px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Action_bottom">
            <div class="container-fluid p-0">
                <div class="align-right">
                    <button type="submit" class="btn btn-cancel mr-2" (click)="goBack()">Cancel</button>
                    <button class="btn btn-primary">Save Order</button>

                    <button class="btn btn-primary float-left mr-2" data-toggle="modal" data-target="#exampleModal2">Add
                        Cheque</button>
                    <button class="btn btn-primary float-left" data-toggle="modal" data-target="#exampleModal2">Add
                        Credit</button>
                </div>
            </div>
        </div>
    </div>
</div>