<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content top-border">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <svg
            _ngcontent-lin-c75=""
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
            class="bi bi-file-earmark-plus"
          >
            <path
              _ngcontent-lin-c75=""
              d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"
            ></path>
            <path
              _ngcontent-lin-c75=""
              d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"
            ></path>
          </svg>
          Add Recovery<span></span>
        </h5>
        <button
          id="closemodelrecovery"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body RecoveryAMT">
          <div class="row">
            <div class="col-6 pl-20">Total Invoice Amount:</div>
            <div class="col-6 amt-due-v">
              {{ recoverModel?.invoice_amount | number: "1.2-2" }}
            </div>
          </div>
          <div class="row">
            <div class="col-6 pl-20">Paid Amount:</div>
            <div class="col-6 amt-due-v">
              {{ recoverModel?.paid_amount | number: "1.2-2" }}
            </div>
          </div>
          <div class="row">
            <div class="col-6 pl-20">Amount Due:</div>
            <div class="col-6 amt-due-v">
              {{ recoverModel?.amount_due | number: "1.2-2" }}
            </div>
          </div>

          <div class="row">
            <div class="col-6 pl-20 PT-15">Add Recovery Amount.:</div>
            <div class="col-6">
              <input
                type="text"
                name="recoverd_amount"
                class="form-control"
                (keyup)="setQuantity(recoveryForm)"
                required
                (keydown)="isNumber($event, 'quantity')"
                [(ngModel)]="recoveryForm.recoverd_amount"
                #selectedRecoverd_amount="ngModel"
              />
              <span
                *ngIf="selectedRecoverd_amount.errors?.required"
                class="input-error"
              >
                Please Add Recovery Ammount!
              </span>
            </div>
          </div>
          <div class="row" *ngIf="permissions.Secondary_Orders.extra_discount">
            <div class="col-6 pl-20 PT-15">Add Dicsount Amount.:</div>
            <div class="col-6">
              <input
                type="text"
                name="invoice_discount"
                class="form-control"
                (keyup)="setDiscpunt(recoveryForm)"
                (keydown)="isNumber($event, 'quantity')"
                [(ngModel)]="recoveryForm.invoice_discount"
                #selectedinvoice_discount="ngModel"
              />
              <!-- <span
                *ngIf="selectedinvoice_discount.errors?.required"
                class="input-error"
              >
                Please Add Discount Ammount!
              </span> -->
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button
            type="button"
            [disabled]="recoveryForm.recoverd_amount > 0 ? false : true"
            (click)="onAddRecovery()"
            class="btn btn-primary w-100"
            style="letter-spacing: 1px"
          >
            <div
              *ngIf="recoveryBtnLoading"
              class="spinner-border"
              role="status"
            >
              <span class="sr-only"></span>
            </div>
            {{ recoveryBtnLoading ? "" : "Add" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container" *ngIf="!showDetails">
  <div class="row mt-2 mb-3">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h2 class="_head01">Credit <span>Invoices</span></h2>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <ol class="breadcrumb">
        <li>
          <a href="#"><span>Invoices</span></a>
        </li>
        <li><span>List</span></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="col-12 p-0">
          <div class="topstats">
            <div class="row m-0">
              <div class="col pr-0">
                <div class="gary-box">
                  <strong>TTL. Credit Retailers:</strong>
                  <span>{{ totalValues.ttl_credit_retialer }}</span>
                </div>
              </div>
              <div class="col pr-0">
                <div class="gary-box">
                  <strong>TTL. O.B Due:</strong>
                  <span>Rs. {{ totalValues.ttl_ob_credit }}</span>
                </div>
              </div>
              <div class="col pr-0">
                <div class="gary-box">
                  <strong>TTL. INVs:</strong>
                  <span>{{ totalValues.ttl_invoices }}</span>
                </div>
              </div>
              <div class="col">
                <div class="gary-box">
                  <strong>TTL. INV AMNT:</strong>
                  <span>Rs. {{ totalValues.ttl_inv_amount }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="body">
          <table
            *ngIf="!loading"
            datatable
            [dtOptions]="dtOptions"
            class="table table-hover dt-responsive nowrap"
            id="example"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>Shop Code</th>
                <th>Retailer Name</th>
                <th>O.B</th>
                <th>INV #</th>
                <th>INV. Date</th>
                <th>Aging</th>
                <th>INV AMNT</th>
                <th>Paid AMNT</th>
                <th>AMNT Due</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of creditInvoicesData">
                <td>{{ totalValues.shop_code }}</td>
                <td>{{ totalValues?.retailer_name }}</td>
                <td>{{ item?.op_balance }}</td>
                <td>
                  {{
                    item?.invoice_number
                      ? item?.invoice_number
                      : "Opening Balance"
                  }}
                </td>
                <td>
                  {{
                    item?.invoice_date
                      ? (item?.invoice_date | date: "mediumDate")
                      : "N/A"
                  }}
                </td>
                <td>{{ item.aging }}</td>
                <td>{{ item.invoice_amount | number: "1.2-2" }}</td>
                <td>{{ item?.paid_amount | number: "1.2-2" }}</td>
                <td>{{ item?.amount_due | number: "1.2-2" }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-pdf"
                    title="View Bill"
                    data-toggle="modal"
                    data-target="#exampleModal2"
                    (click)="showDetails = true; openDetailsModal(item.id)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-receipt-cutoff"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"
                      />
                      <path
                        d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z"
                      />
                    </svg>
                  </button>

                  <button
                    type="button"
                    class="btn btn-pdf"
                    title="Add Recovery"
                    data-toggle="modal"
                    data-target="#exampleModal"
                    (click)="onOpenRecoveryModel(item)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-file-earmark-plus"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"
                      />
                      <path
                        d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"
                      />
                    </svg>
                  </button>
                  <button class="btn btn-pdf" title="Download PDF">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-file-earmark-pdf-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z"
                      />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="col-12" *ngIf="loading">
            <app-loader-white></app-loader-white>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  style="overflow-y: auto"
  [ngClass]="showDetails ? 'show active' : ''"
  id="exampleModal2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModal2Label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-full modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="showDetails = false; closeDetailsModal()"
          style="font-size: 30px; outline: none"
        >
          ×
        </button>
      </div>
      <div class="modal-body p-0">
        <div class="container">
          <div class="row">
            <div *ngIf="!loading" class="col-12">
              <div class="card">
                <div class="p-10" style="border-bottom: solid 2px #000">
                  <div class="row m-0">
                    <div class="col-8 OrderLogo">
                      <img src="assets/images/sell-360.svg" alt="" />
                    </div>
                    <div class="col-4 ord-no">
                      Order #
                      <strong>{{ orderDetail?.retailer_detail?.id }}</strong>
                    </div>
                  </div>
                </div>
                <div class="body" style="padding: 15px 20px">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-body">
                        <div class="row OrderInfo">
                          <div class="col-md-9">
                            <span>Retailer Name: </span>
                            <strong>
                              {{
                                orderDetail?.retailer_detail.retailer_name
                              }} </strong
                            ><br />
                            <span>Phone No: </span>
                            <strong>
                              {{
                                orderDetail?.retailer_detail.retailer_phone
                              }} </strong
                            ><br />
                            <span>Location: </span>
                            <strong>
                              {{
                                orderDetail?.retailer_detail.retailer_address
                              }}
                            </strong>
                          </div>

                          <div class="col-md-3 p-0">
                            <span>Status: </span>
                            <strong>
                              {{ orderDetail?.retailer_detail.status }} </strong
                            ><br />
                            <span>Booking Date: </span>
                            <strong>
                              {{
                                orderDetail?.retailer_detail.order_date
                              }} </strong
                            ><br />
                            <span>Employee: </span>
                            <strong>
                              {{ orderDetail?.retailer_detail.employee_name }}
                            </strong>
                          </div>
                        </div>

                        <div class="seprator-block"></div>

                        <div class="Order-Detail-table mt-30">
                          <table class="table">
                            <thead>
                              <tr>
                                <th><strong>Code</strong></th>
                                <th><strong>Product Name</strong></th>
                                <th><strong>CTN</strong></th>
                                <th><strong>BOX/PCS</strong></th>
                                <th><strong>T.P</strong></th>
                                <th><strong>GR Amt</strong></th>
                                <th><strong>T.O</strong></th>
                                <th><strong>T.Disc</strong></th>
                                <th><strong>SPC.Disc</strong></th>
                                <th><strong>Net.Amt</strong></th>
                              </tr>
                            </thead>
                            <tbody class="order_items_body">
                              <tr
                                *ngFor="let item of orderDetail?.order_detail"
                              >
                                <td>{{ item.item_sku }}</td>
                                <td>{{ item.item_name }}</td>
                                <td>{{ item.parent_qty }}</td>
                                <td>{{ item.child_qty }}</td>
                                <td>{{ item.original_price }}</td>
                                <td>
                                  {{
                                    item.original_price * item.quantity
                                      | decimal
                                  }}
                                </td>
                                <td>
                                  {{
                                    item.scheme_discount * item.quantity
                                      | number: "1.2-2"
                                  }}
                                </td>
                                <td>
                                  {{
                                    item.merchant_discount_pkr * item.quantity
                                      | number: "1.2-2"
                                  }}
                                </td>
                                <td>
                                  {{
                                    item.special_discount * item.quantity
                                      | number: "1.2-2"
                                  }}
                                </td>
                                <td>
                                  {{ item.final_price | number: "1.2-2" }}
                                </td>
                              </tr>
                              <!-- <tr>
                                                              <td class="border-0"></td>
                                                              <td class="border-0"></td>
                                                              <td class="border-0"></td>
                                                              <td class="border-0"></td>
                                                              <td class="border-0"></td>
                                                              <td class="border-0"></td>
                                                              <td class="border-0"></td>
                                                              <td class="border-0"></td>
                                                              <td><strong>Subtotal PKR.</strong></td>
                                                              <td><strong>{{orderDetail?.subTotal | number: '1.2-2'}}</strong></td>
                                                          </tr> -->
                              <tr>
                                <td class="border-0"></td>
                                <td class="border-0"></td>
                                <td class="border-0"></td>
                                <td class="border-0"></td>
                                <td class="border-0"></td>
                                <td class="border-0"></td>
                                <td class="border-0"></td>
                                <td class="border-0"></td>
                                <td><strong>Total Discount PKR.</strong></td>
                                <td>
                                  <strong>{{
                                    orderDetail?.totalDiscount | decimal
                                  }}</strong>
                                </td>
                              </tr>
                              <tr>
                                <td class="border-0"></td>
                                <td class="border-0"></td>
                                <td class="border-0"></td>
                                <td class="border-0"></td>
                                <td class="border-0"></td>
                                <td class="border-0"></td>
                                <td class="border-0"></td>
                                <td class="border-0"></td>
                                <td style="background-color: #000; color: #fff">
                                  <strong>Total PKR.</strong>
                                </td>
                                <td style="background-color: #000; color: #fff">
                                  <strong>{{
                                    orderDetail?.retailer_detail?.order_total
                                      | number: "1.2-2"
                                  }}</strong>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="loading" class="col-12">
              <app-loader-white></app-loader-white>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="modal-footer button-list">
              <button type="button" class="btn btn-primary btn-outline"><i class="fa fa-file-pdf"> </i> <span> Save
                      PDF</span> </button> <button type="button" class="btn btn-primary btn-outline"> <i
                      class="fa fa-envelope"> </i> <span> Send Email</span> </button> <button type="button"
                  class="btn btn-primary btn-outline"><i class="fa fa-print"></i> <span> Print</span> </button>

          </div> -->
    </div>
  </div>
</div>
