.Product-row a {
    cursor: pointer;
}
.Product-Filter {
    background-color: #f3f2f2;
    padding: 15px 15px 0px 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    border-bottom: solid 2px #0038ba
}
.Product-Filter .nav-link {
    padding: 6px 8px 0px 8px;
    cursor: pointer;
}
.Product-Filter .nav {
    width: 74px;
    float: right
}
.Product-Filter .nav .fa {
    color: #a6a5a5;
    font-size: 20px
}
.Product-Filter .active .fa {
    color: #0038ba
}
.CL-Product {
    width: 230px;
    position: relative;
    float: left;
    padding-right: 15px
}
.CL-Product input {
    height: 32px;
    border: solid 1px #dedede;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-left: 30px;
    font-size: 13px;
    letter-spacing: 1px
}
._cust_filter .select2-container .select2-selection--single {
    background-color: #fff;
    border-color: #e4e4e4;
    font-size: 14px;
    border-radius: 0px;
    height: 32px;
}
._cust_filter .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}
.Product-Filter .btn-primary {
    color: #fff !important;
    cursor: pointer;
    float: left;
    margin-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px
}
.CL-Product .fa {
    position: absolute;
    top: 8px;
    left: 8px;
    color: #b5b5b5
}
._cust_filter {
    width: 170px;
    float: left;
    margin-bottom: 15px
}
._cust_filter select {
    border-radius: 0;
    height: 32px;
    border: solid 1px #dedede
}
.Product-row-title {
    border: none;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    color: #0038ba;
    font-family: proximanova-semibold, sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    -ms-transform: scale(0.97);
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}
.Product-row {
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 0px;
    position: relative;
    font-size: 13px;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: solid 2px #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    transform: translateZ(0);
    -ms-transform: scale(0.97);
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.Product-row:HOVER {
    border-bottom: solid 2px #0038ba;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    z-index: 5;
}
.Product-row a, .Product-row a:hover {
    text-decoration: none;
    color: #282828
}
.ProductPageNav {
    padding-top: 5px;
    padding-bottom: 20px
}
.ProductPageNav .page-item .page-link {
    font-size: 13px;
    line-height: 17px;
    padding: 10px
}
.Product-Name {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}
.Product-IMG img {
    width: 40px;
    height: 40px;
    border: solid 1px #e2e2e2;
    margin-right: 15px
}
._SNO {
    padding-right: 0;
    max-width: 65px;
    padding-top: 0px;
    line-height: 17px;
    display: table;
    height: 40px
}
._ITEMSKU {
    padding-right: 0;
    max-width: 150px;
    line-height: 17px;
    display: table;
    height: 40px
}
._ITEMNAME {
    padding-right: 0;
    max-width: 513px;
    line-height: 17px;
    display: table;
    height: 40px
}
._ITEMBRAND {
    padding-right: 0;
    max-width: 300px;
    line-height: 17px;
    display: table;
    height: 40px
}
.middle {
    display: table-cell;
    vertical-align: middle
}
._product-card {
    background-image: url(/assets/images/c-profile-bg.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-color: #fff;
    padding: 18px 20px 20px 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    color: #6f6f6f;
    font-size: 14px;
    margin-bottom: 30px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    -ms-transform: scale(0.96);
    -webkit-transform: scale(0.96);
    transform: scale(0.96)
}
._product-card:HOVER {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
._product-card h2 {
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 20px;
    height: 42px;
    overflow: hidden;
    color: #282828
}
._product-card h2:before {
    background: #002272;
    position: absolute;
    width: 2px;
    height: 32px;
    left: 0px;
    top: 22px;
    content: '';
}
._product-card a, ._product-card a:HOVER {
    text-decoration: none
}
.PR-Thumb {
    display: table;
    height: 220px
}
._product-card img {
    width: 100%;
    height: auto;
    max-height: 220px
}
._product-card .dropdown {
    float: right;
    margin-right: -20px
}
._Action .dropdown {
    float: right;
    margin-right: 20px
}
._product-card .dropdown .btn, ._Action .dropdown .btn {
    padding: 4px 4px;
    font-size: 12px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -khtml-border-radius: 0;
    text-transform: capitalize;
    background: linear-gradient(90deg, #1e54d3 0%, #0038ba 100%);
    color: #fff;
    line-height: 1;
    letter-spacing: 1px;
}
._product-card .dropdown .dropdown-menu, ._Action .dropdown .dropdown-menu {
    min-width: 65px;
    padding: 0;
    margin: 0;
    font-size: 11px;
    border-radius: 0;
}
._product-card .dropdown .dropdown-item {
    color: #282828;
    padding: 5px 11px;
    letter-spacing: 1px
}
._product-card .dropdown .dropdown-item:HOVER, ._Action .dropdown .dropdown-item:HOVER {
    color: #fff;
    background-color: #0038ba;
    outline: none!important;
}
.se_cus-type .form-control, .se_cus-type .form-s2 .select2-container .select2-selection--single {
    border: 1px solid #eeeeee;
    background-color: #fff;
}
.p-stock {
    height: 24px;
    font-size: 13px;
    background-color: #0038ba;
    padding: 3px 5px 3px 10px;
    color: #fff;
    position: absolute;
    left: -5px;
    bottom: 11px;
    letter-spacing: 1px;
    line-height: normal
}
.p-Scheme span, .p-stock span {
    font-family: Rationale, sans-serif;
    font-size: 14px
}
.p-stock::before {
    border-top: 10px solid #002e9a;
    border-left: 5px solid transparent;
    content: "";
    left: 0;
    position: absolute;
    top: 23px;
    z-index: -1
}
.p-Scheme {
    height: 24px;
    font-size: 13px;
    background-color: #282828;
    padding: 3px 5px;
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 11px;
    letter-spacing: normal;
    line-height: normal
}
@media (max-width: 1300px) {
    .PR-Thumb {
        height: 202px
    }
}
._cust_filter {
    width: 230px;
    padding-right: 10px;
}
._cust_filter .select2-container .select2-selection--single {
    height: 32px!important;
}
._cust_filter .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
}
._cust_filter .form-s2 .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}
.CL-Product {
    padding-right: 10px
}
.Product-Filter .btn-primary {
    margin: 0px;
    letter-spacing: 1px;
    float: left;
    box-shadow: none
}
@media (max-width: 1170px) {
    .PR-Thumb {
        height: 175px
    }

}
@media (max-width: 1024px) {
    .Product-row {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    ._product-card {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(01)
    }
}
@media (max-width: 992px) {
    ._product-card img {
        max-height: 175px;
    }
}
