 
.reportCard h3 {
  font-size: 13px;
  text-align: center;
  letter-spacing: 1px;
  height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  position: relative;
  margin: 0;
  text-align: center;
  width: 100%;
}

.reportCard,
.reportCard:hover {
  min-height: 160px;
  background-color: #fff;
  transition: none;
  -webkit-transition: none;
}

.reportCard-blank,
.reportCard-blank:hover {
  background: linear-gradient(0deg, #dfdfdf 0%, #f8f8f8 100%);
  box-shadow: none;
  min-height: 160px;
}

.reportCard-blank .fav-icon {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  padding: 5px;
  line-height: 1;
  cursor: default;
  color: #fff;
}

.fav-icon {
  top: 7px;
  right: 7px;
}

.fav-icon:hover {
  color: #fff
}

.reportCard-blank .circle-div {
  background-color: #fff;
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  border-radius: 50%;
}

.reportCard-blank .heading-div {
  background-color: #fff;
  width: 100%;
  height: 15px;
  margin: 20px auto 10px auto;
  display: block;
  border-radius: 4px;
}

.reportCard .img-svg img {
  width: 40px;
  margin-bottom: 20px;
}

.report-Card img {
  width: 50px;
}

.report-Card h3 {
  letter-spacing: 0.5px;
  height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-right: 15px;
}

.report-Card p {
  height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.report-Card-search {
  width: 260px;
  position: relative;
  float: right;
  margin-bottom: 0px;
}

.report-Card-search .fa {
  position: absolute;
  top: 8px;
  left: 8px;
  color: #b5b5b5;
}

.report-Card-search input {
  height: 32px;
  border: solid 1px #dedede;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 30px;
  font-size: 13px;
  letter-spacing: 1px;
}

.fa-thumbtack {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -sand-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 20px
}
 