<div class="container">

    <div class="row mt-2 mb-2">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2 class="_head01">Booking <span> vs Execution</span></h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <ol class="breadcrumb">
                <li><a><span>Orders</span></a></li>
                <li><span>Booking vs Execution</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="header-tabs">
                <div class="Product-Filter">
                    <div class="row">
                        <div class="col-12">

                            <div class="CL-Product"><i class="fa fa-calendar-alt"></i>
                                <input type="text" class="form-control" id="datepicker" placeholder="Select Date">
                            </div>

                            <div class="_cust_filter">
                                <div class="form-s2">
                                    <select class="form-control formselect" placeholder="Select Order Booker">
                                        <option>Select Order Booker </option>
                                        <option>Asif Ali</option>
                                        <option>Utba Aziz</option>
                                    </select>
                                </div>
                            </div>
                            <button class="btn btn-primary"><i class="fa fa-retweet"></i> Fetch</button>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="card p-15">

        <div class="topstats">
            <div class="row m-0">
                <div class="col pl-0 pr-0">
                    <div class="gary-box"><strong>Order Booker:</strong> <span>Babar Ali</span></div>
                </div>
                <div class="col pr-0">
                    <div class="gary-box"><strong>Date:</strong> <span>19-09-2020</span></div>
                </div>
                <div class="col pr-0">
                    <div class="gary-box"><strong>Total Booking:</strong> <span>Rs. 100,000</span></div>
                </div>
                <div class="col pr-0">
                    <div class="gary-box"><strong>Total Execution:</strong> <span>Rs. 100,000</span></div>
                </div>

            </div>
        </div>

        <div class="row m-0">
            <div class="col-6">
                <div class="row">

                    <div class="col-12 header head-div">
                        <h2>Booking</h2>
                    </div>

                    <div class="col-12 value-sec">
                        <div class="row">
                            <div class="col-6 value-sh"><strong>Total Booking:</strong> <span>Rs. 100,000</span></div>
                            <div class="col-6 value-sh"><strong>Total Booked Orders:</strong> <span>Rs. 100,000</span>
                            </div>
                            <div class="col-6 value-sh"><strong>Total Shop Visited:</strong> <span>20</span></div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-6">
                <div class="row">

                    <div class="col-12 header head-div border-left-0">
                        <h2>Execution</h2>
                    </div>

                    <div class="col-12 value-sec border-left-0">
                        <div class="row">
                            <div class="col-6 value-sh"><strong>Total Execution:</strong> <span>Rs. 100,000</span></div>
                            <div class="col-6 value-sh"><strong>Total Orders Executed:</strong> <span>Rs. 100,000</span>
                            </div>
                            <div class="col-6 value-sh"><strong>Total Cancel Orders:</strong> <span>20</span></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-12 p-0 PT-20 PB-15">

            <div class="Product-row-title">
                <div class="row">
                    <div class="col colStyle h-auto" style="max-width:255px">Retailer Name</div>
                    <div class="col colStyle h-auto" style="max-width:159px">Booked Products</div>
                    <div class="col colStyle h-auto" style="max-width:172px">Executed Products</div>
                    <div class="col colStyle h-auto" style="max-width:135px">Booking Value</div>
                    <div class="col colStyle h-auto" style="max-width:150px">Execution Value</div>
                    <div class="col colStyle h-auto" style="max-width:127px">Order Status</div>
                    <div class="col colStyle h-auto" style="max-width:115px">Action</div>
                </div>
            </div>

            <div class="Product-row">
                <div class="row">
                    <div class="col _ITEMNAME" style="max-width:255px;font-size:14px;">
                        <div class="pt-10"><strong>Sardar General Store</strong>
                            <span class="r-location"><i class="fa fa-map-marker-alt"></i> Main Bazar Fateh Garh </span>
                        </div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:159px">
                        <div class="pt-10">22</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:172px">
                        <div class="pt-10">20</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:135px">
                        <div class="pt-10"><small>Rs.</small> 70,000</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:150px">
                        <div class="pt-10"><small>Rs.</small> 60,000</div>
                    </div>

                    <div class="col colStyle" style="max-width:127px">
                        <div class="pt-10"><i class="fa fa-circle executed-st"></i> Executed</div>
                    </div>

                    <div class="col colStyle" style="max-width:115px">
                        <div class="pt-10">
                            <button class="btn btn-default btn-line smBTN">View Detail</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Product-row">
                <div class="row">
                    <div class="col _ITEMNAME" style="max-width:255px;font-size:14px;">
                        <div class="pt-10"><strong>Sardar General Store</strong>
                            <span class="r-location"><i class="fa fa-map-marker-alt"></i> Main Bazar Fateh Garh</span>
                        </div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:159px">
                        <div class="pt-10">22</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:172px">
                        <div class="pt-10">20</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:135px">
                        <div class="pt-10"><small>Rs.</small> 70,000</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:150px">
                        <div class="pt-10"><small>Rs.</small> 60,000</div>
                    </div>

                    <div class="col colStyle" style="max-width:127px">
                        <div class="pt-10"><i class="fa fa-circle pending-st"></i> Pending</div>
                    </div>

                    <div class="col colStyle" style="max-width:115px">
                        <div class="pt-10">
                            <button class="btn btn-default btn-line smBTN">View Detail</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Product-row">
                <div class="row">
                    <div class="col _ITEMNAME" style="max-width:255px;font-size:14px;">
                        <div class="pt-10"><strong>Sardar General Store</strong>
                            <span class="r-location"><i class="fa fa-map-marker-alt"></i> Main Bazar Fateh Garh</span>
                        </div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:159px">
                        <div class="pt-10">22</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:172px">
                        <div class="pt-10">20</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:135px">
                        <div class="pt-10"><small>Rs.</small> 70,000</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:150px">
                        <div class="pt-10"><small>Rs.</small> 60,000</div>
                    </div>

                    <div class="col colStyle" style="max-width:127px">
                        <div class="pt-10"><i class="fa fa-circle cancel-st"></i> Cancelled</div>
                    </div>

                    <div class="col colStyle" style="max-width:115px">
                        <div class="pt-10">
                            <button class="btn btn-default btn-line smBTN">View Detail</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Product-row">
                <div class="row">
                    <div class="col _ITEMNAME" style="max-width:255px;font-size:14px;">
                        <div class="pt-10"><strong>Sardar General Store</strong>
                            <span class="r-location"><i class="fa fa-map-marker-alt"></i> Main Bazar Fateh Garh </span>
                        </div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:159px">
                        <div class="pt-10">22</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:172px">
                        <div class="pt-10">20</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:135px">
                        <div class="pt-10"><small>Rs.</small> 70,000</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:150px">
                        <div class="pt-10"><small>Rs.</small> 60,000</div>
                    </div>

                    <div class="col colStyle" style="max-width:127px">
                        <div class="pt-10"><i class="fa fa-circle executed-st"></i> Executed</div>
                    </div>

                    <div class="col colStyle" style="max-width:115px">
                        <div class="pt-10">
                            <button class="btn btn-default btn-line smBTN">View Detail</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Product-row">
                <div class="row">
                    <div class="col _ITEMNAME" style="max-width:255px;font-size:14px;">
                        <div class="pt-10"><strong>Sardar General Store</strong>
                            <span class="r-location"><i class="fa fa-map-marker-alt"></i> Main Bazar Fateh Garh</span>
                        </div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:159px">
                        <div class="pt-10">22</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:172px">
                        <div class="pt-10">20</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:135px">
                        <div class="pt-10"><small>Rs.</small> 70,000</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:150px">
                        <div class="pt-10"><small>Rs.</small> 60,000</div>
                    </div>

                    <div class="col colStyle" style="max-width:127px">
                        <div class="pt-10"><i class="fa fa-circle pending-st"></i> Pending</div>
                    </div>

                    <div class="col colStyle" style="max-width:115px">
                        <div class="pt-10">
                            <button class="btn btn-default btn-line smBTN">View Detail</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Product-row">
                <div class="row">
                    <div class="col _ITEMNAME" style="max-width:255px;font-size:14px;">
                        <div class="pt-10"><strong>Sardar General Store</strong>
                            <span class="r-location"><i class="fa fa-map-marker-alt"></i> Main Bazar Fateh Garh</span>
                        </div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:159px">
                        <div class="pt-10">22</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:172px">
                        <div class="pt-10">20</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:135px">
                        <div class="pt-10"><small>Rs.</small> 70,000</div>
                    </div>

                    <div class="col colStyle font-no" style="max-width:150px">
                        <div class="pt-10"><small>Rs.</small> 60,000</div>
                    </div>

                    <div class="col colStyle" style="max-width:127px">
                        <div class="pt-10"><i class="fa fa-circle cancel-st"></i> Cancelled</div>
                    </div>

                    <div class="col colStyle" style="max-width:115px">
                        <div class="pt-10">
                            <button class="btn btn-default btn-line smBTN">View Detail</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>