.topstats{margin-top: 0px; font-size: 13px; margin-bottom: 15px;}
.topstats .gary-box{line-height: 1;background-color: #f9f9f9;border-bottom: solid 1px #d1d1d1;padding: 10px;}
.topstats .gary-box span, .value-sh span{font-family: 'Rationale', sans-serif; color:#0038ba; font-size: 20px; float: right; margin-top: -4px;}
.value-sh{font-size: 13px;}	
.value-sh span{font-size: 18px;}
.value-sec{background-color: #f9f9f9; border: solid 1px #e6e6e6; padding-top: 10px; padding-bottom: 4px;}
.head-div{border: solid 1px #e6e6e6; border-bottom: none; background: none!important; padding: 10px 20px!important}
._cust_filter{width: 250px; padding-top: 0;padding-right: 10px;float: left;margin-bottom: 15px;}
._cust_filter select {height: 32px;}
.Product-row{padding:5px 8px; margin-bottom: -1px; box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);}
.Product-row-title{padding:10px 8px; background-color: #f9f9f9; color: #282828; text-transform: none!important;}
.Product-IMG{margin-bottom: -5px}
.Product-IMG img {width: 32px; height: 32px; border-radius:50%; border: solid 1px #333;}	
.Product-Name{color: #808080; line-height: 1}	
.Product-Name strong{color: #282828; padding-bottom: 3px; display: block}
._ITEMNAME{height: auto;}
.font-no{font-size: 20px; line-height:1}
.font-no{font-size: 20px; line-height:1; font-family: 'Rationale', sans-serif!important;}
.r-location{display:block; color:#a0a0a0; font-size:13px}
.executed-st{color:#06C420; font-size: 12px}
.cancel-st{color:#C40606; font-size: 12px}
.pending-st{color:#D9A20A; font-size: 12px}	
.date-order {width: 200px;position: relative;float: left;padding-right: 15px;}
.date-order input {height: 32px;border: solid 1px #dedede;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;padding-left: 15px;font-size: 13px;letter-spacing: 1px;}
.Product-Filter {background-color: #f3f2f2;padding: 15px 15px 0px 15px;box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);margin-bottom: 15px;border-bottom: solid 2px #0038ba}
.Product-Filter .btn-primary {color: #fff !important;cursor: pointer;float: left;margin: 0;padding-top: 4px;padding-bottom: 4px;letter-spacing: 1px;}
.CL-Product {width: 230px;position: relative;float: left;padding-right: 10px}
.CL-Product input {height: 32px;border: solid 1px #dedede;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;padding-left: 30px;font-size: 13px;letter-spacing: 1px}
.CL-Product .fa {position: absolute;top: 8px;left: 8px;color: #b5b5b5}
.Product-row a {cursor: pointer;}
.Product-row-title {border: none;padding: 10px 8px;position: relative;text-transform: uppercase;color: #000;font-family: proximanova-semibold, sans-serif;letter-spacing: 1px;font-size: 13px;-ms-transform: scale(0.97);-webkit-transform: scale(0.97);transform: scale(0.97);}
.Product-row {background-color: #fff;border: none;padding: 5px 8px;border-radius: 0px;position: relative;font-size: 13px;width: 100%;margin-bottom: -1px;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;transition: all 0.2s;-ms-transform: scale(0.97);-webkit-transform: scale(0.97);transform: scale(0.97);box-shadow: 0px 0px 2px 0px rgba(0 0 0 / 20%);}
.Product-row:HOVER {border-bottom: solid 2px #0038ba;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.3s ease;-ms-transform: scale(1);-webkit-transform: scale(1);transform: scale(1);box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);z-index: 5;}
.Product-row a, .Product-row a:hover {text-decoration: none;color: #282828}
@media (max-width: 1024px) {.Product-row {-ms-transform: scale(1);-webkit-transform: scale(1);transform: scale(1);}}