<!-- Unit, Quantity and Trade Offer of Products -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content top_border">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Product <span> Detail</span>
        </h5>
        <button
          type="button"
          class="close dont-close-products"
          data-dismiss="modal"
          (click)="closeQuantityModal($event)"
          aria-label="Close"
        >
          <span class="dont-close-products" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div
        *ngIf="selectedProduct?.parent?.hasOwnProperty('quantity')"
        class="modal-body AddDetailPR"
      >
        <div class="row">
          <div class="col-md-4 pt-7 mb-15">Add Quantity:</div>
          <div class="col-md-8 mb-15">
            <input
              type="text"
              class="form-control"
              placeholder=""
              (keyup)="setQuantity(selectedProduct)"
              required
              (keydown)="isNumber($event, 'quantity')"
              [(ngModel)]="selectedProduct.stockQty"
              #selectedQty="ngModel"
              placeholder="0"
              style="font-size: 13px"
            />
            <span
              *ngIf="selectedQty.errors?.required && isAdded"
              class="input-error"
            >
              Please add Quantity!
            </span>
            <span
              *ngIf="
                +selectedProduct.stockQty === 0 &&
                isAdded &&
                !selectedQty.errors?.required
              "
              class="input-error"
            >
              Quantity should be greater than 0!
            </span>
          </div>
          <div class="col-md-4 pt-7 mb-15">Unit:</div>
          <div class="col-md-8 mb-15">
            {{ selectedProduct.unit_name }}
            <!-- <select class="custom-select custom-select-sm" [(ngModel)]="selectedProduct.pref_id"
                            name="prefrences" (change)="setPrefrence($event.target.value, selectedProduct)"
                            #selectedPrefs="ngModel">
                            <option [value]="null" disbaled>Select Unit</option>
                            <option *ngFor="let unit of selectedProduct.units" [value]="unit.pref_id">{{unit.unit_name}}
                            </option>
                        </select> -->
            <!-- <span *ngIf="selectedProduct.pref_id === null && isAdded" class="input-error">
                            Please select a Unit!
                        </span>
                        <span *ngIf="alreadyAdded && selectedProduct.pref_id !== null" class="input-error">
                            Selected Unit already added please change unit or update the quantity in the list!
                        </span> -->
          </div>
          <div
            class="col-md-4"
            *ngIf="selectedProduct.schemes.length"
            style="padding-top: 2px"
          >
            Trade Offer:
          </div>
          <div class="col-md-8">
            <div *ngFor="let scheme of selectedProduct.schemes; let i = index">
              <div class="custom-control custom-radio">
                <!-- <input
                  [(ngModel)]="selectedProduct.selectedScheme"
                  [disabled]="
                    !selectedProduct.stockQty || +selectedProduct.stockQty <= 0
                  "
                  (click)="
                    selectedProduct.pref_id &&
                      selectedProduct.stockQty &&
                      calculateProductDiscounts(selectedProduct, scheme)
                  "
                  class="custom-control-input"
                  type="radio"
                  name="AssignCatalogue"
                  id="byTerritory-{{ i }}"
                  [value]="scheme"
                /> -->
                <input
                  [(ngModel)]="selectedProduct.scheme_id"
                  (click)="
                    selectedProduct.pref_id &&
                      selectedProduct.stockQty &&
                      calculateProductDiscounts(selectedProduct, scheme)
                  "
                  class="custom-control-input"
                  type="radio"
                  name="AssignCatalogue"
                  id="byTerritory-{{ i }}"
                  [value]="scheme.id"
                  [disabled]="
                    !selectedProduct.stockQty || +selectedProduct.stockQty <= 0
                  "
                />
                <label
                  class="custom-control-label font13"
                  for="byTerritory-{{ i }}"
                  style="line-height: 25px"
                  >{{ scheme.title }} (Min QTy:{{ scheme.min_qty }})</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0" style="background-color: #f6f6f6">
        <button
          type="button"
          id="pl-qty-close"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="addProductToOrder($event)"
          aria-label="Close"
          [disabled]="
            !selectedProduct.stockQty || selectedProduct.stockQty <= 0
          "
        >
          Confirm
        </button>
        <button
          type="button"
          id="pl-qty-close"
          class="btn btn-cancel dont-close-products"
          data-dismiss="modal"
          (click)="closeQuantityModal($event)"
          aria-label="Close"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Products Listing -->
<div
  id="product-cl-sec"
  (clickOutside)="clickedOutSide($event)"
  [ngClass]="showProducts ? 'active' : ''"
>
  <a id="pl-close" (click)="closeProductsList()" class="close-btn-pl"></a>
  <div class="pro-header-text">Add <span>Product</span></div>
  <div class="se_cus-type form-wrap p-15">
    <div class="row">
      <div class="col-12">
        <div class="productSearch">
          <i class="fa fa-search"></i>
          <input
            type="text"
            class="form-control"
            id=""
            [(ngModel)]="productSearchText"
            (keyup)="searchProduct()"
            placeholder="Search"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="pc-cartlist">
    <div class="overflow-plist">
      <div class="plist-content">
        <div class="_left-filter pt-0">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="card top_border p-15">
                  <table
                    *ngIf="!loadingProducts"
                    class="AddProductTable"
                    width="100%"
                  >
                    <tbody>
                      <tr *ngFor="let product of dispProducts; let i = index">
                        <td>
                          <div class="ProListDiv">
                            <div
                              *ngIf="product.schemes?.length"
                              class="lab-promotion"
                            >
                              Scheme
                            </div>
                            <img
                              class="PrList_img"
                              src="{{ product.thumbnail }}"
                              alt=""
                            />
                            <div class="PR_Name">{{ product.item_name }}</div>
                          </div>
                        </td>
                        <td>
                          <button
                            *ngIf="!product.isAdded"
                            data-toggle="modal"
                            data-target="#exampleModal"
                            class="btn btn-default mb-0 dont-close-quantity"
                            (click)="openQuantityModal(product)"
                          >
                            Add
                          </button>
                          <button
                            *ngIf="product.isAdded"
                            class="btn btn-default mb-0 red-bg"
                            (click)="deleteOrderItem(product.item_id)"
                          >
                            Remove
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-12 loader" *ngIf="loadingProducts">
                    <h2 class="loading">Loading Products...</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="_cl-bottom">
    <!-- <button type="submit" class="btn btn-primary mr-2">Add</button> -->
    <button
      id="pl-prod-close"
      type="butotn"
      (click)="closeProductsList()"
      class="btn btn-cancel mr-2"
    >
      Cancel
    </button>
  </div>
</div>

<div id="blureEffct-1" class="container-fluid">
  <div class="overlay-blure"></div>
  <div class="container">
    <div class="row mt-2 mb-3">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2 class="_head01">Order <span> Management</span></h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <ol class="breadcrumb">
          <li>
            <a href="#"><span>Order Management</span></a>
          </li>
          <li><span>Edit</span></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h2>
              {{ title }}
              <span> Order</span>
            </h2>
          </div>
          <div class="body PT-15">
            <div *ngIf="loading" class="col-md-12">
              <app-loader-white></app-loader-white>
            </div>
            <div id="floating-label" *ngIf="!loading">
              <div class="form-wrap p-0">
                <div class="topstats">
                  <div class="row">
                    <div
                      *ngIf="!isNew || isReturn"
                      class="_sa-customer"
                      class="col-md-6"
                    >
                      <div class="form-s2">
                        <ng-select
                          [multiple]="false"
                          class="formselect"
                          [(ngModel)]="selectedSubDistributor"
                          (change)="onSubDistributorChanged()"
                          placeholder="Select Sub Distributor"
                        >
                          <ng-option disabled>Select Sub Distributor</ng-option>
                          <ng-option
                            *ngFor="let sDist of subDistributors"
                            [value]="sDist.id"
                            >{{ sDist.distributor_name }}</ng-option
                          >
                        </ng-select>
                      </div>
                    </div>
                    <div *ngIf="showEditFields" class="col-2 pr-0">
                      <div class="gary-box">
                        <strong>Date:</strong>
                        <span class="execution_date">{{ order.date }}</span>
                      </div>
                    </div>
                    <div *ngIf="showEditFields" class="col-4 pr-0">
                      <div class="gary-box">
                        <strong>Distributor:</strong>
                        <span class="execution_date">{{
                          order.distributor_name
                        }}</span>
                      </div>
                    </div>
                    <div *ngIf="showEditFields" class="col-3 pr-0">
                      <div class="gary-box">
                        <strong>Employee:</strong>
                        <span class="execution_date">{{
                          order.employee_name
                        }}</span>
                      </div>
                    </div>
                    <div class="col-3">
                      <button
                        id="productlist01"
                        type="submit"
                        class="btn btn-primary w-100 PT-5 PB-5"
                        (click)="showProductsList($event)"
                      >
                        Add Product
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!isNew" class="_cut-detail">
                <div class="row">
                  <div class="col-md-6">
                    <strong>Distributor Name: &nbsp; </strong>
                    {{ subDistributor?.distributor_name || "--" }}
                  </div>
                  <div class="col-md-6">
                    <strong>Town: &nbsp; </strong>
                    {{ subDistributor?.city_name || "--" }}
                  </div>
                  <div class="col-md-6">
                    <strong>Distributor Address: &nbsp; </strong>
                    {{ subDistributor?.distributor_address || "--" }}
                  </div>
                  <div class="col-md-6">
                    <strong>TSM. Name: &nbsp; </strong>
                    {{ subDistributor?.tsm || "--" }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <hr class="mt-5" />
                </div>
                <div class="col-md-12">
                  <table
                    class="table table-hover dt-responsive nowrap table_order"
                    id="example"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>SKU</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>T.P</th>
                        <th>GR.Amt</th>
                        <th>T.O</th>
                        <th>Dist.Disc%</th>
                        <th>Spec.Disc</th>
                        <!-- <th>Tax</th> -->
                        <th>GST</th>
                        <th>AIT</th>
                        <th>Total Bill</th>
                        <th>Action</th>
                      </tr>
                    </thead>

                    <tfoot
                      style="
                        background: linear-gradient(
                          0deg,
                          #f6f6f6 0%,
                          #f6f6f6 100%
                        );
                        font-size: 14px;
                      "
                    >
                      <tr>
                        <th>Total items:</th>
                        <th class="order_total_items">
                          {{
                            order.orderContent ? order.orderContent.length : 0
                          }}
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Gross Amount.</th>
                        <th class="order_gross_amount">
                          {{ order.totalGrossPrice | number : "1.2-2" }}
                        </th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Order Discount.</th>
                        <th class="order_total_discount">
                          - {{ order.totalDiscount | number : "1.2-2" }}
                        </th>
                        <th></th>
                      </tr>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Subtotal PKR.</th>
                        <th class="order_sub_total">
                          {{
                            order.totalGrossPrice - order.totalDiscount
                              | number : "1.2-2"
                          }}
                        </th>
                        <th></th>
                      </tr>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Frieght Price.</th>
                        <th>
                          <!-- onkeyup="isNumber(event)" -->
                          <input
                            type="number"
                            min="0"
                            class="itemQTY frieght_price"
                            [(ngModel)]="order.frieght_price"
                            value="0"
                          />
                        </th>
                        <th></th>
                      </tr>

                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Subtotal PKR.</th>
                        <th class="order_sub_total_af_FP">
                          {{
                            order.totalGrossPrice -
                              order.totalDiscount +
                              order.frieght_price | number : "1.2-2"
                          }}
                        </th>
                        <th></th>
                      </tr>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Tax.</th>
                        <th class="order_tax">
                          {{ order.finaltotalTax | number : "1.2-2" }}
                        </th>
                        <th></th>
                      </tr>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Total PKR.</th>
                        <th class="order_grand_total">
                          {{
                            order.totalPKRBill + order.frieght_price
                              | number : "1.2-2"
                          }}
                        </th>
                        <th></th>
                      </tr>
                    </tfoot>

                    <tbody>
                      <tr
                        *ngFor="
                          let item of order.orderContent;
                          let index = index
                        "
                      >
                        <!-- sku -->
                        <td>{{ item.item_sku }}</td>
                        <!-- item name -->
                        <td>{{ item.item_name }}</td>
                        <!-- Quantity -->
                        <td>
                          <input
                            type="number"
                            min="1"
                            placeholder="Quanity"
                            class="itemQTY"
                            [(ngModel)]="item.parent_qty_sold"
                            (keyup)="setQuantity(item, true)"
                          />

                          {{
                            item.schemeFreeProdsCount
                              ? "+" + item.schemeFreeProdsCount
                              : ""
                          }}
                        </td>
                        <!-- T.P -->
                        <td>{{ item.parent_tp | number : "1.2-2" }}</td>
                        <!-- GR.Amt -->
                        <td>
                          {{ item.grossPrice | number : "1.2-2" }}
                        </td>
                        <!-- T.O -->
                        <td>
                          <!-- {{ item.tradeOffer | number : "1.2-2" }} -->
                          {{
                            item.scheme_id && item.scheme_type == "free_product" && item.scheme_quantity_free > 0 && item.scheme_rule === 4
                              ? `(${item.scheme_quantity_free})`
                              : ""
                          }}
                          {{item.scheme_id && item.scheme_type == "free_product" && item.scheme_rule === 1 ? `${item.trade_offer | number : "1.2-2"}` : ""}}
                          <!-- {{item.scheme_id && item.scheme_type == "free_product" && item.scheme_rule === 1 ? `${item.tradeOffer | number : "1.2-2"}` : ""}} -->
                        </td>
                        <!-- Dist.Disc% -->
                        <td>
                          {{ item.distributor_discount | number : "1.2-2" }}
                        </td>
                        <!-- Spec.Disc% -->
                        <!-- <td>{{ item.specialDiscount | number : "1.2-2" }}</td> -->
                        <!-- E.Disc.Amt -->
                        <td>
                          <input
                            type="number"
                            placeholder="0"
                            min="0"
                            max="{{ item.maxBookerDiscount }}"
                            [(ngModel)]="item.booker_discount"
                            class="itemQTY"
                            (keyup)="setQuantity(item, true, true)"
                          />
                        </td>
                        <!-- Tax -->
                        <!-- <td>
                          {{ item.tax_amount | number : "1.2-2" }}
                        </td> -->
                        <td>{{ item.gst_tax | number : "1.2-2" }}</td>
                        <td>
                          {{ item.advance_income_tax | number : "1.2-2" }}
                        </td>
                        <!-- Total Bill -->
                        <td>
                          {{ item?.TotalBill | number : "1.2-2" }}
                        </td>
                        <td>
                          <button
                            type="button"
                            (click)="deleteOrderItem(item.item_id)"
                            class="btn smBTN red-bg mb-0"
                          >
                            Delete
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-md-12 p-0">
                    <div
                      style="
                        background-color: #f6f6f6;
                        padding: 15px;
                        margin-top: 15px;
                        margin-bottom: 0px;
                        text-align: center;
                        margin-bottom: 1px;
                      "
                    >
                      <button
                        *ngIf="showEditFields"
                        type="button"
                        (click)="saveOrder()"
                        class="btn btn-primary mr-2"
                      >
                        <span
                          class="spinner-grow spinner-grow-sm"
                          role="status"
                          aria-hidden="true"
                          *ngIf="saving"
                        ></span>
                        {{ saving ? "Updateing" : "Save Order" }}
                      </button>
                      <button
                        *ngIf="!isNew && !isReturn"
                        type="button"
                        (click)="saveOrder()"
                        class="btn btn-primary mr-2"
                      >
                        <span
                          class="spinner-grow spinner-grow-sm"
                          role="status"
                          aria-hidden="true"
                          *ngIf="saving"
                        ></span>
                        {{ saving ? "Creating" : "Save Order" }}
                      </button>

                      <button
                        *ngIf="isReturn"
                        type="button"
                        (click)="saveOrder()"
                        class="btn btn-primary mr-2"
                      >
                        <span
                          class="spinner-grow spinner-grow-sm"
                          role="status"
                          aria-hidden="true"
                          *ngIf="saving"
                        ></span>
                        {{ saving ? "Returning" : "Return Order" }}
                      </button>
                      <button
                        type="button"
                        [routerLink]="['/primaryOrders']"
                        class="btn btn-cancel mr-2"
                      >
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="holdorder-reason"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content top_border">
      <div class="modal-header">
        <h5 class="modal-title" id="holdOrderModalLabel">
          Product <span> Detail</span>
        </h5>
        <button
          type="button"
          class="close dont-close-products"
          data-dismiss="modal"
          (click)="closeQuantityModal($event)"
          aria-label="Close"
        >
          <span class="dont-close-products" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div
        *ngIf="selectedProduct?.parent?.hasOwnProperty('quantity')"
        class="modal-body AddDetailPR"
      >
        <div class="row">
          <div class="col-md-4 pt-7 mb-15">Add Quantity:</div>
          <div class="col-md-8 mb-15">
            <input
              type="text"
              class="form-control"
              placeholder=""
              (keyup)="setQuantity(selectedProduct)"
              required
              (keydown)="isNumber($event, 'quantity')"
              [(ngModel)]="selectedProduct.stockQty"
              #selectedQty="ngModel"
              placeholder="0"
              style="font-size: 13px"
            />
            <span
              *ngIf="selectedQty.errors?.required && isAdded"
              class="input-error"
            >
              Please add Quantity!
            </span>
            <span
              *ngIf="
                +selectedProduct.stockQty === 0 &&
                isAdded &&
                !selectedQty.errors?.required
              "
              class="input-error"
            >
              Quantity should be greater than 0!
            </span>
          </div>
          <div class="col-md-4 pt-7 mb-15">Unit:</div>
          <div class="col-md-8 mb-15">
            {{ selectedProduct.unit_name }}
            <!-- <select class="custom-select custom-select-sm" [(ngModel)]="selectedProduct.pref_id"
                            name="prefrences" (change)="setPrefrence($event.target.value, selectedProduct)"
                            #selectedPrefs="ngModel">
                            <option [value]="null" disbaled>Select Unit</option>
                            <option *ngFor="let unit of selectedProduct.units" [value]="unit.pref_id">{{unit.unit_name}}
                            </option>
                        </select> -->
            <!-- <span *ngIf="selectedProduct.pref_id === null && isAdded" class="input-error">
                            Please select a Unit!
                        </span>
                        <span *ngIf="alreadyAdded && selectedProduct.pref_id !== null" class="input-error">
                            Selected Unit already added please change unit or update the quantity in the list!
                        </span> -->
          </div>
          <div
            class="col-md-4"
            *ngIf="selectedProduct.schemes.length"
            style="padding-top: 2px"
          >
            Trade Offer:
          </div>
          <div class="col-md-8">
            <div *ngFor="let scheme of selectedProduct.schemes; let i = index">
              <div class="custom-control custom-radio">
                <input
                  [(ngModel)]="selectedProduct.selectedScheme"
                  [disabled]="
                    !selectedProduct.stockQty || +selectedProduct.stockQty <= 0
                  "
                  class="custom-control-input"
                  type="radio"
                  name="AssignCatalogue"
                  id="byTerritory-{{ i }}"
                  [value]="scheme"
                />
                <label
                  class="custom-control-label font13"
                  for="byTerritory-{{ i }}"
                  style="line-height: 25px"
                  >{{ scheme.title }}</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0" style="background-color: #f6f6f6">
        <button
          type="button"
          id="pl-qty-close"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="addProductToOrder($event)"
          aria-label="Close"
          [disabled]="
            !selectedProduct.stockQty || selectedProduct.stockQty <= 0
          "
        >
          Confirm
        </button>
        <button
          type="button"
          id="pl-qty-close"
          class="btn btn-cancel dont-close-products"
          data-dismiss="modal"
          (click)="closeQuantityModal($event)"
          aria-label="Close"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
