.Product-IMG {
    display: inline;
}
.Product-IMG img {
    width: 40px;
    height: 40px;
    border: solid 1px #e2e2e2;
    margin-right: 15px
}
._PR_filter{margin-top: -2px; width: 300px!important; float: left}
._PR_filter .form-s2 .select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 30px!important; font-family: 'proximanova-light', sans-serif!important; font-size: 13px!important;}
._PR_filter .form-s2 .select2-container .select2-selection--single, ._PR_filter .form-s2 .select2-container--default .select2-selection--single .select2-selection__arrow{height: 31px!important;}	
.addPR-head h3{font-size: 14px; padding-right: 10px; line-height: 2; margin: 0}
.topstats{margin-top: 15px; font-size: 14px;}
.topstats .gary-box{line-height: 1;background-color: #f9f9f9;border-bottom: solid 1px #d1d1d1;padding: 10px;letter-spacing: 1px;}
.topstats .gary-box span{font-family: 'Rationale', sans-serif; color:#0038ba; font-size: 22px; float: right; margin-top: -4px;}
.btn-generate{ 
    float: right;
    font-size: 13px;
    padding: 5px 14px; 
}
.table thead th{border: solid 1px #fff !important}
.table td, .table td span{text-transform: capitalize;}
.show {display: block;}