<div class="container">
  <div class="row mt-2 mb-3">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h2 class="_head01">Credit <span>Invoices</span></h2>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <ol class="breadcrumb">
        <li>
          <a href="#"><span>Invoices</span></a>
        </li>
        <li><span>List</span></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="col-12 p-0">
          <div class="topstats">
            <div class="row m-0">
              <div class="col pr-0">
                <div class="gary-box">
                  <strong>TTL. Credit Retailers:</strong>
                  <span>{{
                    total?.ttl_credit_retialer | number: "1.2-2"
                  }}</span>
                </div>
              </div>
              <div class="col pr-0">
                <div class="gary-box">
                  <strong>TTL. O.B Due:</strong>
                  <span>Rs. {{ total?.ttl_ob_credit | number: "1.2-2" }}</span>
                </div>
              </div>
              <div class="col pr-0">
                <div class="gary-box">
                  <strong>TTL. INVs:</strong>
                  <span>{{ total?.ttl_invoices | number: "1.2-2" }}</span>
                </div>
              </div>
              <div class="col">
                <div class="gary-box">
                  <strong>TTL. INV AMNT:</strong>
                  <span>Rs. {{ total?.ttl_inv_amount | number: "1.2-2" }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="body">
          <table
            *ngIf="!loading"
            datatable
            [dtOptions]="dtOptions"
            class="table table-hover dt-responsive nowrap"
            id="example"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>Shop Code</th>
                <th>Retailer Name</th>
                <th>Owner Name</th>
                <th>Contact No.</th>
                <th>O.B</th>
                <th>Route</th>
                <th>O. Balance</th>
                <th>T. Invoices</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of creditInvoicesData">
                <td>{{ item.shop_code }}</td>
                <td>{{ item.retailer_name }}</td>
                <td>{{ item?.owner_name ? item?.owner_name : "N/A" }}</td>
                <td>{{ item.retailer_phone }}</td>
                <td>{{ item?.orderbookers }}</td>
                <td>{{ item?.routes }}</td>
                <td>{{ item.op_balance }}</td>
                <td>{{ item?.total_invoices }}</td>
                <td>
                  <a
                    [routerLink]="[
                      '/retailer/credit-invoices/' + item.retailer_id
                    ]"
                    class="btn btn-pdf"
                    title="View Invoices"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-receipt-cutoff"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"
                      />
                      <path
                        d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z"
                      />
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-12" *ngIf="loading">
            <app-loader-white></app-loader-white>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
