.OrderLogo {
  text-align: left;
  padding-left: 0;
}
.OrderLogo img {
  width: auto;
  height: 46px;
}
.OrderInfo {
  font-size: 14px;
}
.OrderInfo span {
  width: 105px;
  float: left;
}
.Order-Detail-table table td {
  border: solid 1px #333333;
  padding: 5px !important;
  font-size: 12px;
}
.Order-Detail-table table th {
  border: solid 1px #333333 !important;
  background-color: #000 !important;
  color: #fff;
  padding: 5px !important;
  font-size: 12px;
}
.button-list .btn-primary {
  font-size: 14px !important;
  letter-spacing: 1px;
}
.button-list .btn-primary .fa {
  padding-right: 3px;
}
.ord-no {
  padding-top: 17px;
  font-size: 14px;
  text-align: right;
}

.bold_text {
  font-family: proximanova-semibold, sans-serif !important;
  background-color: rgb(233, 230, 230);
  font-weight: bold;
}
