<!-- Details of Selected Ledger -->
<div id="product-cl-sec" [ngClass]="isDetailOpen ? 'active' : ''" (clickOutside)="clickOutSide($event)">
    <a id="pl-close" class="close-btn-pl" (click)="closeDetails()"></a>
    <div class="pro-header-text">Leadger <span> SalesMan</span></div>
    <div class="pc-cartlist">
        <div class="overflow-plist">
            <div class="plist-content">
                <div class="_left-filter pt-0">
                    <div class="container">
                        <div class="row sell360report">
                            <div class="col-md-6">
                                <div class="card mt-0">
                                    <h4>Current <span>Month Salary</span></h4>
                                    <h2 class="digit"><small>Rs.</small> <span>4.00</span></h2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card mt-0">
                                    <h4>Current <span>Month Shortage</span></h4>
                                    <h2 class="digit"><small>Rs.</small> <span>9.25</span></h2>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card p-20 top_border mb-3">
                                    <h2 class="_head03 mb-10">Transaction <span>List</span></h2>

                                    <table datatable [dtOptions]="dtOptions" class="table table-hover dt-responsive nowrap" id="example"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Net Sales</th>
                                                <th>Cash Collected</th>
                                                <th>Shortage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Net Sale</td>
                                                <td>11,880.00</td>
                                                <td>2.14</td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="_cl-bottom">
        <button id="pl-close" (click)="closeDetails()" class="btn btn-cancel mr-2">Close</button>
    </div>
</div>

<!-- Ledger list -->
<div class="container" id="ledger-list">
    <div class="row mt-2 mb-2">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2 class="_head01">Sales <span> Man</span></h2>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <ol class="breadcrumb">
                <li><a routerLink="/salesmen"><span>Sales Man</span></a></li>
                <li><span>Ledger</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Sales <span> Man Ledger</span>
                        <div class="_list-total">6</div>
                    </h2>
                </div>
                <div class="body">
                    <table datatable [dtOptions]="dtOptions" class="table table-hover dt-responsive nowrap" id="example" style="width:100%">
                        <thead>
                            <tr>
                                <th>Month</th>
                                <th>Salary</th>
                                <th>Net Sales</th>
                                <th>Shortage</th>
                                <th>Payable</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>April</td>
                                <td>0</td>
                                <td>17,130.00</td>
                                <td>11.58</td>
                                <td>-11.58</td>
                                <td><button id="productlist01" (click)="openDetails($event, 1)" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>April</td>
                                <td>0</td>
                                <td>17,130.00</td>
                                <td>11.58</td>
                                <td>-11.58</td>
                                <td><button class="btn btn-default btn-line m-0" (click)="openDetails($event, 1)">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>April</td>
                                <td>0</td>
                                <td>17,130.00</td>
                                <td>11.58</td>
                                <td>-11.58</td>
                                <td><button class="btn btn-default btn-line m-0" (click)="openDetails($event, 1)">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>April</td>
                                <td>0</td>
                                <td>17,130.00</td>
                                <td>11.58</td>
                                <td>-11.58</td>
                                <td><button class="btn btn-default btn-line m-0" (click)="openDetails($event, 1)">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>April</td>
                                <td>0</td>
                                <td>17,130.00</td>
                                <td>11.58</td>
                                <td>-11.58</td>
                                <td><button class="btn btn-default btn-line m-0" (click)="openDetails($event, 1)">View Detail</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>