<!-- Saslesmen ledger list -->
<div class="container">
    <div class="row mt-2 mb-2">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2 class="_head01">Sales <span> Man</span></h2>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <ol class="breadcrumb">
                <li><a routerLink="/salesmen"><span>Sales Man</span></a></li>
                <li><span>Ledger</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Sales <span> Man Ledger</span>
                        <div class="_list-total">6</div>
                    </h2>
                </div>
                <div class="body">
                    <table datatable [dtOptions]="dtOptions" class="table table-hover dt-responsive nowrap" id="example" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button class="btn btn-default btn-line m-0" routerLink="/salesmen/salesmen-ledger/1">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>0245</td>
                                <td>Utba</td>
                                <td><button routerLink="/salesmen/salesmen-ledger/1" class="btn btn-default btn-line m-0">View Detail</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>