.container {max-width: 1280px;}
.retailerTable .table thead th{font-size: 12px;  padding: 5px 8px!important}
.retailerTable .table td{font-size: 12px!important; padding: 5px 4px!important; vertical-align: middle; line-height: 1}	
.ProList-div { max-height: 57vh; flex: 1; overflow-y: auto; overflow-x: hidden; padding: 10px; font-size: 14px; }
.ProList-div .table img{margin-top: -2px; margin-bottom: -2px; margin-left: 4px;}
.APS-list input {height: 32px; border: solid 1px #eae9e9; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; padding-left: 30px; font-size: 13px; letter-spacing: 1px;}
.APS-list .fa {position: absolute;  top: 8px; left: 8px; color: #b5b5b5;}
._selectProList .header .add_button {padding: 4px 8px 3px 8px; right: 15px;}	
._selectProList .APS-list { padding: 0; width: 100%; margin-top: 10px; position: relative; float: right;}
.topstats{margin-top: 10px; font-size: 13px; margin-bottom: 5px;}
.topstats .gary-box{line-height: 1;background-color: #f9f9f9;border-bottom: solid 1px #d1d1d1;padding: 10px;}
.topstats .gary-box span{font-family: 'Rationale', sans-serif; color:#0038ba; font-size: 18px; float: right; margin-top: -4px;}
.min-w{min-width:240px }	
.order-list{font-size: 12px; background: #fff; padding: 6px 10px; border: solid 1px #eaeaea; position: relative;
	transition: all 0.2s; transform: translateZ(0);-ms-transform: scale(0.97);-webkit-transform: scale(0.97); transform: scale(0.97); cursor: pointer;}
.order-list.active{	border-color:#0038ba;}
.order-list:hover, .order-list.active{ 	box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.18);-ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); z-index: 3}
.order-list span{display: block}
.order-list span .fa{color: #b5b5b5}
.order-list span.or-val{font-family: 'Rationale', sans-serif;font-size: 16.5px; line-height: 1; color: #0038ba }
.order-list .ord-no{font-family: 'Poppins', sans-serif;line-height: 1;font-size: 35px; font-weight: 800; padding-top: 0; color: #ececec;  position: absolute; right:80px; top: 7px}
.addPR-head { padding: 15px 15px 0px 20px !important; background:none!important }
#orderList-id{flex: 0 0 300px; max-width: 300px; width: 300px;}
.value_input { padding: 2px; margin: 0!important; font-size: 12px;  box-shadow: none;height: 22px; width: 52px;}	
.total-valu-div{width:280px; min-height: 173px; font-size: 13px; padding-left: 20px; padding-right: 20px; margin-left: auto; margin-right: 0; padding-top: 5px; background-color: #f7f7f7; border: solid 1px #ececec}
.total-valu-div .row{border-bottom:solid 1px #e8e6e6}
.total-valu-div .row .col-6{padding:2px; line-height: 1.5;font-family: proximanova-semibold, sans-serif!important; }
.total-valu-div span{font-family: 'Rationale', sans-serif; line-height: 1.1; font-size: 18px; text-align: right; display: block}
.ProListHeight{ height: calc(100vh - 200px)}
.rightHeight{ height: calc(100vh - 249px); overflow-y: auto;}
.addpr{padding: 4px 8px; font-size: 12px; top: 11px; right: 15px;}
.productSearch {position: relative;}
.productSearch input {height: 32px;border: solid 1px #eae9e9;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;padding-left: 30px;font-size: 13px;letter-spacing: 1px;}
.productSearch .fa {position: absolute;top: 8px;left: 8px;color: #b5b5b5;}
.AddProductTable {padding: 0;margin: 0}
.AddProductTable tr {border-bottom: solid 1px #eeeeee}
.AddProductTable td {padding-bottom: 7px;padding-top: 7px}
.ProListDiv {padding: 0;display: table;}
.ProListDiv .PR_Name {display: table-cell;vertical-align: middle;font-size: 14px;letter-spacing: 1px;line-height: 16px}
.ProListDiv .PrList_img {width: 35px;height: 35px;margin-right: 8px;border: solid 1px #e0e0e0}
.AddProductTable .btn-default {padding: 5px 8px;font-size: 13px;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;-khtml-border-radius: 0;background: linear-gradient(90deg, #1e54d3 0%, #0038ba 100%);color: #fff;text-align: center;margin: 0;line-height: 1;min-width: 74px;letter-spacing: 1px;float: right;border: none!important}
.AddDetailPR {padding: 25px;font-size: 14px}
.AddDetailPR .form-control {height: 32px;border: solid 1px #dedede;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;padding: 0px 10px;font-size: 13px;letter-spacing: 1px;}
.AddDetailPR select {border-radius: 0;padding: 0px 10px;height: 32px;border: solid 1px #dedede;font-size: 14px}
.se_cus-type .form-control{border: 1px solid #eeeeee;background-color: #fff;}
.daily-operations .nav_M a, .daily-operations .nav_M .nav-link.active{padding-top: 15px;}
.cash-report{background-color: #f8f8f8; min-height: calc(100vh - 210px);}
.cash-report .header{background: linear-gradient(0deg, #f8f8f8 0%, #f8f8f8 50%); padding:15px 20px;}
.cash-report .report_value {background-color: #fff; font-size: 13px; position: relative; padding: 10px 10px;  letter-spacing: 0.5px; margin-bottom: 5px; margin-top: 5px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(79,79,79,.1); -moz-box-shadow: 0 2px 8px 0 rgba(79,79,79,.1); box-shadow: 0 2px 8px 0 rgba(79,79,79,.1); line-height: 1}
.cash-report .report_value span{font-family: 'Rationale', sans-serif; line-height: 1; font-size: 18px; float: right; margin-top: -2px}
.totalcash span{font-size: 20px!important; color: #0038ba}
.cash-report .value_input{float: right; width: 85px;} 
.addsalesman { font-size: 11px; width: 100%; line-height: 1; margin-top: 5px;}
.add-expense{font-size: 13px;padding: 2px 10px;position: absolute;right: 0;}
.red-bg{border: solid 1px #f12300}
.wz-icon .fa { color: #fff;}
.addpr { padding: 4px 8px; font-size: 12px;top: 11px;right: 15px; cursor: pointer;}
.addReturn{right: 128px; box-shadow: none}
.daily-operations .tab-content{padding-bottom: 10px}
.bottom-act-btn{text-align: right; padding-top: 15px; padding-bottom: 15px}
.bottom-act-btn .btn { letter-spacing: 1px; font-size: 12px; padding: 4px 12px; box-shadow: none}
.execFooter { background: #F6F6F6; padding-top: 10px; padding-bottom: 10px; margin-top: 5px;}
.Product-Filter{box-shadow: none; margin: 0; padding: 10px}
.cash-report .value_input { float: right;  width: 95px;}
