<!-- Saleman Ledger -->
<div id="product-cl-sec" (clickOutside)="clickedOutSide($event)" [ngClass]="shwoSaleManLedger ? 'active' : ''"> <a id="pl-close" (click)="closeSalemanLedger()" class="close-btn-pl"></a>
    <div class="pro-header-text">Leadger <span> SalesMan</span></div>
    <div class="pc-cartlist">
        <div class="overflow-plist">
            <div class="plist-content">
                <div class="_left-filter pt-0">
                    <div class="container">
                        <div class="row sell360report">
                            <div class="col-md-6">
                                <div class="card mt-0">
                                    <h4>Total <span> Revenue</span></h4>
                                    <h2 class="digit"><small>Rs.</small> <span>4.00</span></h2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card mt-0">
                                    <h4>Total <span> Outstanding</span></h4>
                                    <h2 class="digit"><small>Rs.</small> <span>9.25</span></h2>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card p-20 top_border mb-3">
                                    <h2 class="_head03 mb-10">Transaction <span>List</span></h2>

                                    <table datatable [dtOptions]="dtOptions" class="table table-hover dt-responsive nowrap" id="example"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Description</th>
                                                <th>Amount</th>
                                                <th>Paid</th>
                                                <th>Balance</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Description here</td>
                                                <td>11,880</td>
                                                <td>11,880</td>
                                                <td>11,880</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Description here</td>
                                                <td>11,880</td>
                                                <td>11,880</td>
                                                <td>11,880</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Description here</td>
                                                <td>11,880</td>
                                                <td>11,880</td>
                                                <td>11,880</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Description here</td>
                                                <td>11,880</td>
                                                <td>11,880</td>
                                                <td>11,880</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Description here</td>
                                                <td>11,880</td>
                                                <td>11,880</td>
                                                <td>11,880</td>
                                            </tr>
                                            <tr>
                                                <td>2021-04-28</td>
                                                <td>Description here</td>
                                                <td>11,880</td>
                                                <td>11,880</td>
                                                <td>11,880</td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="_cl-bottom">
        <button id="pl-close" (click)="closeSalemanLedger()" type="submit" class="btn btn-cancel mr-2">Close</button>
    </div>
</div>

<!-- Retailers List -->
<div class="container" id="retailer-list">

    <div class="row mt-2 mb-2">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2 class="_head01">Retailers <span>Management</span></h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <ol class="breadcrumb">
                <li><a><span>Retailers</span></a></li>
                <li><span>List</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="header-tabs">
                <div class="Product-Filter">
                    <div class="row">
                        <div class="col-12">

                            <div class="CL-Product"><i class="fa fa-search"></i>
                                <input type="text" class="form-control" id="" placeholder="Search">
                            </div>

                            <div class="_cust_filter">
                                <div class="form-s2">
                                    <ng-select class="formselect" [multiple]="false" id="order-booker" placeholder="Select Order Booker"
                                        name="order-booker" [(ngModel)]="orderBooker" required>
                                        <ng-option value="Asif Ali">
                                            Asif Ali
                                        </ng-option>
                                        <ng-option value="Utba Aziz">
                                            Utba Aziz
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>

                            <div class="_cust_filter">
                                <div class="form-s2">
                                    <ng-select class="formselect" [multiple]="false" id="route" placeholder="Select Order Booker"
                                        name="route" [(ngModel)]="route" required>
                                        <ng-option value="1">
                                            Route 1
                                        </ng-option>
                                        <ng-option value="2">
                                            Route 2
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>

                            <button class="btn btn-primary"><i class="fa fa-search"></i> Search</button>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="body">

                    <table datatable [dtOptions]="dtOptions" class="table table-hover dt-responsive nowrap" id="example" style="width:100%">
                        <thead>
                            <tr>
                                <th>Retailer Name</th>
                                <th>Phone Number</th>
                                <th>Segment </th>
                                <th>Retailer Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>768 store</td>
                                <td>03211234567</td>
                                <td>G.T.-C Class</td>
                                <td>Kiryana Store</td>
                                <td><a id="productlist01" (click)="openSalemanLedger($event)" class="btn btn-default mb-0">View Leadger</a>
                                    <a [routerLink]="['/retailer','profile',1]" class="btn btn-default mb-0">View Profile</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>