<div class="container">

    <div class="row mt-2 mb-2">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2 class="_head01">Orders <span> Management</span></h2>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <ol class="breadcrumb">
                <li><a routerLink="/orders"><span>Orders</span></a></li>
                <li><span>List</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Create <span>Dispatch</span></h2>
                </div>
                <div class="body">
                    <table datatable [dtOptions]="dtOptions" class="table table-hover dt-responsive nowrap" id="example"
                        style="width:100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Sales Man</th>
                                <th>Order Bookers</th>
                                <th>Orders</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2021-04-28</td>
                                <td>Arif</td>
                                <td>Atif </td>
                                <td>12 </td>
                                <td>15,000</td>
                                <td><button class="btn btn-default mb-0">BS</button>
                                    <button class="btn btn-default mb-0">Bills</button>
                                    <a href="orders-dispatched.html" class="btn btn-default btn-line mb-0">Dispatch</a>
                                    <button class="btn btn-default red-bg mb-0">Revert</button>
                                </td>
                            </tr>
                            <tr>
                                <td>2021-04-28</td>
                                <td>Arif</td>
                                <td>Atif </td>
                                <td>12 </td>
                                <td>15,000</td>
                                <td><button class="btn btn-default mb-0">BS</button>
                                    <button class="btn btn-default mb-0">Bills</button>
                                    <a href="orders-dispatched.html" class="btn btn-default btn-line mb-0">Dispatch</a>
                                    <button class="btn btn-default red-bg mb-0">Revert</button>
                                </td>
                            </tr>
                            <tr>
                                <td>2021-04-28</td>
                                <td>Arif</td>
                                <td>Atif </td>
                                <td>12 </td>
                                <td>15,000</td>
                                <td><button class="btn btn-default mb-0">BS</button>
                                    <button class="btn btn-default mb-0">Bills</button>
                                    <a href="orders-dispatched.html" class="btn btn-default btn-line mb-0">Dispatch</a>
                                    <button class="btn btn-default red-bg mb-0">Revert</button>
                                </td>
                            </tr>
                            <tr>
                                <td>2021-04-28</td>
                                <td>Arif</td>
                                <td>Atif </td>
                                <td>12 </td>
                                <td>15,000</td>
                                <td><button class="btn btn-default mb-0">BS</button>
                                    <button class="btn btn-default mb-0">Bills</button>
                                    <a href="orders-dispatched.html" class="btn btn-default btn-line mb-0">Dispatch</a>
                                    <button class="btn btn-default red-bg mb-0">Revert</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>