<div class="container">

    <div class="row mt-2 mb-2">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2 class="_head01">Orders <span> Management</span></h2>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <ol class="breadcrumb">
                <li><a href="#"><span>Orders</span></a></li>
                <li><span>List</span></li>
            </ol>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="header-tabs">
          <div class="Product-Filter">
            <div class="row">
              <div class="col-12">
                <div class="CL-Product">
                  <input placeholder="Start Date" type="text" onfocus="(this.type = 'date')" id="date"
                    class="form-control pad-date" (change)="getData()" [(ngModel)]="date">
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Completed <span> Orders</span>
                        <div class="_list-total">{{ loadsheets.length }}</div>
                    </h2>
                </div>
                <div class="body">
                  <table [style.display]="loading ? 'none' : ''" [dtTrigger]="dtTrigger" datatable [dtOptions]="dtOptions" class="table table-hover dt-responsive nowrap"
                    id="example" style="width:100%">
                        <thead>
                            <tr>
                                <th>Load ID</th>
                                <th>Salesman</th>
                                <!-- <th>Order Booker(s)</th>
                                <th>Orders</th> -->
                                <th>Sales Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sheet of loadsheets">
                                <td>{{ sheet.id }}</td>
                                <td>{{ sheet.salesman }}</td>
                                <!-- <td>{{ sheet.order_bookers }}</td>
                                <td>{{ sheet.total_orders }}</td> -->
                                <td>Rs. {{ sheet.total_net_sale }}</td>
                                <td>
                                    <button (click)="routeToPdf('ls', sheet)" class="btn btn-default mb-0">Load Sheet</button>
                                    <!-- <button (click)="routeToPdf('bs', sheet)" class="btn btn-default mb-0">BS</button> -->
                                    <button (click)="routeToPdf('bills', sheet)" class="btn btn-default mb-0">Bills</button>
                                    <button (click)="routeToPdf('dsr', sheet)" class="btn btn-default mb-0">DSR</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div [style.display]="!loading ? 'none' : ''" class="col-md-12">
                      <app-loader-white></app-loader-white>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
